{% extends "templates/layout.html" %}

{% block title %}
{{ _("Course") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav2.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Courses
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          All Courses:
         </span>
         <span class="text-md text-gray-700 font-semibold me-2">
          {{ course_count }}
         </span>
        </div>
       </div>
       <div class="flex items-center gap-2.5">
        <a class="btn btn-sm btn-primary" href="/app/course/new-course-">
         Add Course
        </a>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header flex-wrap gap-2">
         <h3 class="card-title font-medium text-sm">
          <!-- Showing 10 of {{ course_count }} Courses -->
         </h3>
         <div class="flex flex-wrap gap-2 lg:gap-5">
          <div class="flex">
           <label class="input input-sm">
            <i class="ki-filled ki-magnifier">
            </i>
            <input id="search-input" placeholder="Search courses" type="text" value="">
            </input>
           </label>
          </div>
         </div>
        </div>
        <div class="card-body">
          <div class="scrollable-x-auto">
           <table class="table table-auto .table-xs table-border" data-datatable-table="true">
            <thead>
             <tr>
              <th class="w-[60px] text-center">
              </th>
              <th class="min-w-[300px]">
                 Course
              </th>
              <th class="min-w-[100px]">
                 Course ID
              </th>
              <th class="min-w-[150px]">
                 Subject
              </th>
              <th class="min-w-[80px]">
                 Status
              </th>
              <th class="min-w-[200px]">
                 Course Category
              </th>
              <th class="w-[100px] text-center">
                 Department
              </th>
              <th class="w-[60px]">
              </th>
             </tr>
            </thead>
            <tbody>
             {% if courses %}
              {% for course in courses %}
             <tr>
              <td class="text-center">
                <span class="badge badge-dot size-1.5 badge-primary"></span>
              </td>
              <td>
               <div class="flex items-center gap-2.5">
                <div class="flex flex-col">
                 <a class="text-sm text-primary hover:text-primary-active mb-px" href="/admin/course/overview/{{ course.name }}">
                  {{ course.course_name or ""}}
                 </a>
                </div>
               </div>
              </td>
              <td>
                {{ course.custom_course_code or ""}}
              </td>
              <td>
                {{ course.custom_subject or ""}}
              </td>
              <td>
               <div class="flex items-center gap-1.5">
                 <span class="badge badge-pill badge-outline {{ 'badge-success' if course.custom_disabled == 0 else 'badge-danger' }} gap-1 items-center">
                  <span class="badge badge-dot size-1.5 {{ 'badge-success' if course.custom_disabled == 0 else 'badge-danger' }}">
                  </span>
                    {{ 'Active' if course.custom_disabled == 0 else 'Disabled' }}
                 </span>
               </div>
              </td>
              <td>
               {{ course.custom_course_category or ""}}
              </td>
              <td>
               <div class="flex justify-center">
               {{ course.department or ""}}
               </div>
              </td>
              <td>
               <div class="menu" data-menu="true">
                <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                 <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                  <i class="ki-filled ki-dots-vertical">
                  </i>
                 </button>
                 <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                  <div class="menu-item">
                   <a class="menu-link" href="/admin/course/overview/{{ course.name }}">
                    <span class="menu-icon">
                     <i class="ki-filled ki-search-list">
                     </i>
                    </span>
                    <span class="menu-title">
                     View
                    </span>
                   </a>
                  </div>
                  <div class="menu-separator">
                  </div>
                  <div class="menu-item">
                   <a class="menu-link" href="/app/course/{{ course.course_name }}">
                    <span class="menu-icon">
                     <i class="ki-filled ki-pencil">
                     </i>
                    </span>
                    <span class="menu-title">
                     Edit
                    </span>
                   </a>
                  </div>
                 </div>
                </div>
               </div>
              </td>
             </tr>
              {% endfor %}
             {% else %}
             <tr>
              <td colspan="8" class="text-center">No course found.</td>
             </tr>
             {% endif %}
            </tbody>
           </table>
          </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}

{% block custom_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get references to the search input and table rows
    const searchInput = document.getElementById('search-input');
    const table = document.querySelector('[data-datatable-table="true"]');
    const rows = table.querySelectorAll('tbody tr');

    // Event listener for input on the search field
    searchInput.addEventListener('input', function() {
      const searchTerm = searchInput.value.toLowerCase();

      rows.forEach(row => {
        // Check if any cell in the row contains the search term
        const cells = Array.from(row.querySelectorAll('td'));
        const match = cells.some(cell => cell.textContent.toLowerCase().includes(searchTerm));

        // Show or hide the row based on the match
        row.style.display = match ? '' : 'none';
      });
    });
  });
</script>
{% endblock %}
