{% extends "templates/layout.html" %}

{% block title %}
{{ _("Course Outline") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->

    {% include "templates/includes/course_nav.html" %}

     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         {{docname}}
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          Course Outline
         </span>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header flex-wrap gap-2">
         <h3 class="card-title font-medium text-sm">
          <!-- Showing {{ student_count }} Students -->
         </h3>
        </div>
        <div class="card-body">
          <div class="scrollable-x-auto">
           <table class="table table-auto" data-datatable-table="true">
            <thead>
             <tr>
              <th class="min-w-[150px]">
               <span class="sort asc">
                <span class="sort-label">
                 Date
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[100px]">
               <span class="sort">
                <span class="sort-label">
                 Week
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Curriculum
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[200px] text-center">
               <span class="sort">
                <span class="sort-label">
                 Topic
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[100px]">
               <span class="sort">
                <span class="sort-label">
                 Periods
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="w-[60px] text-center">
              </th>
             </tr>
            </thead>
            <tbody>
             {% if outlines %}
              {% for outline in outlines %}
             <tr>
              <td>
               {{ outline.date or ""}}
              </td>
              <td>
               {{ outline.week_num or "" }}
              </td>
              <td>
               {{ outline.curriculum or "" }}
              </td>
              <td class="min-w-[200px] text-center">
               {{ outline.topic or "" }}
              </td>
              <td>
               {{ outline.periods or ""}}
              </td>
              <td>
               <div class="text-sm font-semibold text-gray-900 hover:text-primary-active mb-px">
                <button class="btn btn-info btn-xs" data-collapse="#collapsible_content_{{ loop.index }}">
                 <i class="ki-filled ki-eye text-gray-600 text-2xl">
                 </i>
                </button>
               </div>
              </td>
             </tr>
             <tr>
              <td colspan="7">
                <div class="transition-all duration-300 hidden" id="collapsible_content_{{ loop.index }}">
                 <div class="container-fixed">
                  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7.5">
                   <div class="card p-5 lg:px-7 lg:py-6">
                    <div class="flex flex-col gap-2.5">        
                     <div class="flex flex-col gap-3">
                      <h3 class="text-base font-medium leading-none text-gray-900">
                       Sub-Topic
                      </h3>
                      <div class="text-2sm text-gray-700 leading-5">
                       {{ outline.sub_topic or "" }}
                      </div>
                     </div>
                     <div class="flex items-center flex-wrap">
                      <div class="text-sm font-medium mb-1">
                       Status
                      </div>
                      <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                      </span>
                      <div class="flex items-center gap-1.5">
                       {% if outline.status == "Completed" %}
                       <span class="badge badge-pill badge-outline badge-success gap-1 items-center">
                        <span class="badge badge-dot size-1.5 badge-success">
                       {% elif outline.status == "In Progress" %}
                       <span class="badge badge-pill badge-outline badge-warning gap-1 items-center">
                        <span class="badge badge-dot size-1.5 badge-warning">
                       {% elif outline.status == "Not Started" %}
                       <span class="badge badge-pill badge-outline badge-primary gap-1 items-center">
                        <span class="badge badge-dot size-1.5 badge-primary">
                       {% endif %}
                        </span>
                          {{ outline.status or "" }}
                       </span>
                      </div>                       
                      <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                      </span>
                     </div>
                    </div>
                   </div>
                   <div class="card p-5 lg:px-7 lg:py-6">
                    <div class="flex flex-col gap-2.5">
                     <div class="flex flex-col gap-3">
                      <h3 class="text-base font-medium leading-none text-gray-900">
                       Objectives
                      </h3>
                      <div class="text-2sm text-gray-700 leading-5">
                       {{ outline.objectives or "" }}
                      </div>
                     </div>
                    </div>
                   </div>
                   {% if "Academics User" in user_roles %}
                   <div class="card p-5 lg:px-7 lg:py-6">
                    <div class="flex flex-col gap-2.5">
                     <div class="flex flex-col gap-3">
                      <h3 class="text-base font-medium leading-none text-gray-900">
                       Lesson Plan & Note
                      </h3>
                      <div class="text-2sm text-gray-700 leading-5">
                       {{ outline.lesson_plan or "" }}
                      </div>
                     </div>
                    </div>
                   </div>
                   {% endif %}
                  </div>
                 </div>
                </div>
              </td>
             </tr>
               {% endfor %}
             {% else %}
             <tr>
              <td colspan="7" class="text-center">No outline found.</td>
             </tr>
             {% endif %}
            </tbody>
           </table>
          </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
