{% extends "templates/layout.html" %}

{% block title %}
{{ _("Course Overview") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->

    {% include "templates/includes/course_nav.html" %}

     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-success">
         {{docname}}
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          Course Overview
         </span>
        </div>
       </div>
       {% if "Academics User" in user_roles %}
       <div class="flex items-center gap-2.5">
        <div class="btn btn-sm btn-secondary text-sm" href="/app/course/{{courses.name}}">
         Edit Course
        </div>
       </div>
       {% endif %}
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <!-- begin: grid -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
      <div class="col-span-1">
        <div class="grid gap-5 lg:gap-7.5">
         <div class="card min-w-full">
          <div class="card-header">
           <h3 class="card-title">
            Course Info
           </h3>
          </div>
          <div class="card-table scrollable-x-auto pb-3">
           <table class="table align-middle text-sm text-gray-500">
            <tr>
             <td class="py-2">
              Name:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.course_name}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Code:
             </td>
             <td class="py-2">
              {{courses.custom_course_code or ""}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Subject:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.custom_subject or ""}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Category:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.custom_course_category or ""}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Department:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.department or ""}}
             </td>
            </tr>
            </table>
          </div>
         </div>
        </div>
       </div>
       <div class="col-span-1">
        <div class="flex flex-col gap-5 lg:gap-7.5">
         <div class="card">
          <div class="card-header">
           <h3 class="card-title">
            LMS Course
           </h3>
           <div class="menu" data-menu="true">
           </div>
          </div>
          <div class="card-table scrollable-x-auto">
           <div class="scrollable-auto">
            <table class="table align-middle text-2sm text-gray-600">
             <tr class="">
              <th class="text-start font-medium min-w-48 py-2.5">
               Title
              </th>
              <th class="text-left font-medium min-w-20 py-2.5">
               Status
              </th>
              <th class="text-left font-medium min-w-20 py-2.5">
               Published
              </th>
              <th class="min-w-16">
              </th>
             </tr>
             {% if lmscourses %}
             {% for lmscourse in lmscourses %}
             <tr>
              <td>
               <div class="flex items-center grow gap-2.5">
                <img alt="" class="rounded-full size-9 shrink-0" src="{% if lmscourse.image  %}{{lmscourse.image}}{% else %}assets/edubliss/dist/media/avatars/blank.png{% endif %}"/>
                <div class="flex flex-col gap-1">
                 <a class="text-sm font-semibold text-gray-800 hover:text-primary-active mb-px" {% if lmscourse.published == 1  %} href="/lms/courses/{{ lmscourse.name }}" {% endif %}>
                  {{ lmscourse.title }}
                 </a>
                 <span class="text-xs font-normal text-gray-600 leading-3">
                  {{ lmscourse.short_introduction }}
                 </span>
                </div>
               </div>
              </td>
              <td class="py-2 text-right">
               <div class="flex items-center gap-1.5">
                  {% if lmscourse.status == "Approved" %}
                 <span class="badge badge-pill badge-outline badge-success gap-1 items-center">
                  <span class="badge badge-dot size-1.5 badge-success">
                  {% elif lmscourse.status == "In Progress" %}
                 <span class="badge badge-pill badge-outline badge-warning gap-1 items-center">
                  <span class="badge badge-dot size-1.5 badge-warning">
                  {% elif lmscourse.status == "Under Review" %}
                 <span class="badge badge-pill badge-outline badge-primary gap-1 items-center">
                  <span class="badge badge-dot size-1.5 badge-primary">
                  {% endif %}
                  </span>
                    {{ lmscourse.status }}
                 </span>
               </div>
              </td>
              <td class="py-2 text-right">
               <div class="flex items-center gap-1.5">
                  {% if lmscourse.published == 1 %}
                 <span class="badge badge-pill badge-outline badge-success gap-1 items-center">
                  <span class="badge badge-dot size-1.5 badge-success">
                  </span>
                    Yes
                 </span>
                  {% else %}
                 <span class="badge badge-pill badge-outline badge-danger gap-1 items-center">
                  <span class="badge badge-dot size-1.5 badge-danger">
                  </span>
                    No
                 </span>
                  {% endif %}
               </div>
              </td>
              <td class="text-right">
               <div class="menu inline-flex" data-menu="true">
                <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                 <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                  <i class="ki-filled ki-dots-vertical">
                  </i>
                 </button>
                 <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                  <div class="menu-item">
                   <a class="menu-link" {% if lmscourse.published == 1  %} href="/lms/courses/{{ lmscourse.name }}" {% endif %}>
                    <span class="menu-icon">
                     <i class="ki-filled ki-search-list">
                     </i>
                    </span>
                    <span class="menu-title">
                     View
                    </span>
                   </a>
                  </div>
                  {% if "Academics User" in user_roles %}
                  <div class="menu-separator">
                  </div>
                  <div class="menu-item">
                   <a class="menu-link" href="/app/lms-course/{{ lmscourse.name }}">
                    <span class="menu-icon">
                     <i class="ki-filled ki-pencil">
                     </i>
                    </span>
                    <span class="menu-title">
                     Edit
                    </span>
                   </a>
                  </div>
                  {% endif %}
                 </div>
                </div>
               </div>
              </td>
             </tr>
             {% endfor %}
             {% else %}
             <tr>
              <td colspan="4" class="text-center">No LMS Course found.</td>
             </tr>
             {% endif %}
            </table>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <!-- end: grid -->
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
