{% extends "templates/layout.html" %}

{% block title %}
{{ _("Course Overview") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->

    {% include "templates/includes/course_nav.html" %}

     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         {{docname}}
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          Course Overview
         </span>
        </div>
       </div>
       {% if "Academics User" in user_roles %}
       <div class="flex items-center gap-2.5">
        <a class="btn btn-sm btn-primary btn-outline text-sm" href="/app/course/{{courses.name}}">
         Edit Course
        </a>
       </div>
       {% endif %}
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <!-- begin: grid -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
       <div class="col-span-1">
        <div class="grid gap-5 lg:gap-7.5">
         <div class="card min-w-full">
          <div class="card-header">
           <h3 class="card-title">
            Course Info
           </h3>
          </div>
          <div class="card-table scrollable-x-auto pb-3">
           <table class="table align-middle text-sm text-gray-500">
            <tr>
             <td class="py-2">
              Name:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.course_name}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Code:
             </td>
             <td class="py-2">
              {{courses.custom_course_code or ""}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Subject:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.custom_subject or ""}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Category:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.custom_course_category or ""}}
             </td>
            </tr>
            <tr>
             <td class="py-2">
              Department:
             </td>
             <td class="py-2 text-gray-700 text-sm">
              {{courses.department or ""}}
             </td>
            </tr>
            </table>
          </div>
         </div>
        </div>
       </div>
       <div class="col-span-1">
        <div class="flex flex-col gap-5 lg:gap-7.5">
         <div class="card">
          <div class="card-header">
           <h3 class="card-title">
            LMS Course
           </h3>
           <div class="menu" data-menu="true">
           </div>
          </div>
          {% if lmscourses %}
           {% for lmscourse in lmscourses %}
         <div class="card border-0">
          <img alt="" class="w-full h-[170px] rounded-t-xl" src="{% if lmscourse.image  %}{{lmscourse.image}}{% else %}assets/edubliss/dist/media/images/600x400/25.jpg{% endif %}"/>
          <div class="card-border card-rounded-b flex flex-col gap-2 px-5 py-4.5">
           <a class="text-md font-semibold text-gray-900 hover:text-primary" {% if lmscourse.published %}href="/lms/courses/{{ lmscourse.name }}"{% endif %}>
            {{lmscourse.title}}
           </a>
           <div class="flex items-center justify-between grow">
            <div class="flex gap-3 items-center">
             <div class="flex gap-1 items-center">
               {% if lmscourse.status == "Approved" %}
              <span class="badge badge-pill badge-xs badge-outline badge-success gap-1 items-center">
                <span class="badge badge-dot size-1.5 badge-success">
               {% elif lmscourse.status == "In Progress" %}
              <span class="badge badge-pill badge-xs badge-outline badge-warning gap-1 items-center">
                <span class="badge badge-dot size-1.5 badge-warning">
               {% elif lmscourse.status == "Under Review" %}
              <span class="badge badge-pill badge-xs badge-outline badge-primary gap-1 items-center">
                <span class="badge badge-dot size-1.5 badge-primary">
               {% endif %}
                </span>
                  {{ lmscourse.status }}
              </span>
             </div>
             <div class="flex gap-1 items-center">
               {% if lmscourse.published %}
              <span class="badge badge-pill badge-xs badge-outline badge-info gap-1 items-center">
                <span class="badge badge-dot size-1.5 badge-info">
                </span>
                  Published
              </span>
               {% else %}
              <span class="badge badge-pill badge-xs badge-outline gap-1 items-center">
                <span class="badge badge-dot size-1.5 ">
                </span>
                  Not Published
              </span>
               {% endif %}
              </div>
            </div>
            <div class="flex gap-3 items-center">
             <div class="flex gap-1 items-center">
               {% if lmscourse.published %}
               <a class="text-md font-semibold text-gray-900 hover:text-primary" href="/lms/courses/{{ lmscourse.name }}" data-tooltip="#lms_tooltip">
                <i class="ki-filled ki-eye text-base text-gray-500">
                </i>
                <div id="lms_tooltip" class="rounded-xl tooltip">
                 View
                </div>
               </a>
               {% endif %}
             </div>
             <div class="flex gap-1 items-center">
              {% if "Academics User" in user_roles %}
              <a class="text-md font-semibold text-gray-900 hover:text-primary" href="/app/lms-course/{{ lmscourse.name }}" data-tooltip="#sects_tooltip"  data-tooltip-placement="top">
                <i class="ki-filled ki-pencil text-base text-gray-500">
                </i>
                <div id="sects_tooltip" class="hidden rounded-xs shadow-default tooltip border border-gray-200 text-light text-xs font-normal">
                 Edit
                </div>
              </a>
              {% endif %}
             </div>
            </div>
           </div>
          </div>
         </div>
           {% endfor %}
          {% else %}
          <div class="card-table scrollable-x-auto">
           <div class="scrollable-auto">
            <table class="table align-middle text-2sm text-gray-600">
             <tr>
              <td colspan="4" class="text-center">No LMS Course found.</td>
             </tr>
            </table>
           </div>
          </div>
          {% endif %}
         </div>
        </div>
       </div>
      </div>
      <!-- end: grid -->
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
