{% extends "templates/layout.html" %}

{% block title %}
{{ _("Course Enrollment") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav2.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->

    {% include "templates/includes/course_nav.html" %}

     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         {{docname}}
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          Course Enrollment
         </span>
        </div>
       </div>
       <!-- <div class="flex items-center gap-2.5">
        <div class="btn btn-sm btn-primary btn-outline text-sm" href="/app/course-enrollment/new-course-enrollment-">
         Enroll Student
        </div>
       </div> -->
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header flex-wrap gap-2">
         <h3 class="card-title font-medium text-sm">
          Showing {{ student_count }} Students
         </h3>
        </div>
        <div class="card-body">
         <div data-datatable="true" data-datatable-page-size="10">
          <div class="scrollable-x-auto">
           <table class="table table-auto table-border" data-datatable-table="true">
            <thead>
             <tr>
              <th class="w-[60px] text-center">
               <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox"/>
              </th>
              <th class="min-w-[300px]">
               <span class="sort asc">
                <span class="sort-label">
                 Student
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[300px]">
               <span class="sort">
                <span class="sort-label">
                 School
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[200px]">
               <span class="sort">
                <span class="sort-label">
                 Program
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Enrollment Date
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[200px] text-center">
               <span class="sort">
                <span class="sort-label">
                 Term
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="w-[60px]">
              </th>
             </tr>
            </thead>
            <tbody>
             {% if students %}
              {% for student in students %}
             <tr>
              <td class="text-center">
               <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="1"/>
              </td>
              <td>
                 <a class="text-sm text-primary hover:text-primary-active mb-px" href="/students/profile/{{ student.student }}">
                  {{ student.student_name }}
                 </a>
              </td>
              <td>
               {{ student.custom_school }}
              </td>
              <td>
               {{ student.program }}
              </td>
              <td>
               {{ student.enrollment_date }}
              </td>
              <td>
               <div class="flex justify-center">
               {{ student.academic_term }}
               </div>
              </td>
              <td>
               <div class="text-sm font-semibold text-gray-900 hover:text-primary-active mb-px" href="/app/course-enrollment/{{ student.name }}">
                 <i class="ki-filled ki-pencil">
                 </i>
               </div>
              </td>
             </tr>
               {% endfor %}
             {% else %}
             <tr>
              <td colspan="7" class="text-center">No student found.</td>
             </tr>
             {% endif %}
            </tbody>
           </table>
          </div>
          <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
           <div class="flex items-center gap-2 order-2 md:order-1">
            Show
            <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
            </select>
            per page
           </div>
           <div class="flex items-center gap-4 order-1 md:order-2">
            <span data-datatable-info="true">
            </span>
            <div class="pagination" data-datatable-pagination="true">
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
