<style>
		@media screen {
		.print-format-gutter {
			background-color: #ddd;
			padding: 15px 0px;
		}
		.print-format {
			background-color: white;
			box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
			max-width: 8.3in;
			min-height: 11.69in;
			padding: 0.75in;
			margin: auto;
		}

		.print-format.landscape {
			max-width: 11.69in;
			padding: 0.2in;
		}

		.page-break {
			padding: 30px 0px;
			border-bottom: 1px dashed #888;
		}

		.page-break:first-child {
			padding-top: 0px;
		}

		.page-break:last-child {
			border-bottom: 0px;
		}

		/* mozilla hack for images in table */
		body:last-child .print-format td img {
			width: 100% !important;
		}

		@media(max-width: 767px) {
			.print-format {
				padding: 0.2in;
			}
		}
	}

	@media print {
		.print-format p {
			margin-left: 1px;
			margin-right: 1px;
		}
	}

	.data-field {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.data-field .value {
		word-wrap: break-word;
	}

	.important .value {
		font-size: 120%;
		font-weight: bold;
	}

	.important label {
		line-height: 1.8;
		margin: 0px;
	}

	.table {
		margin: 20px 0px;
	}

	.square-image {
		width: 100%;
		height: 0;
		padding: 50% 0;
		background-size: contain;
		/*background-size: cover;*/
		background-repeat: no-repeat !important;
		background-position: center center;
		border-radius: 4px;
	}

	.print-item-image {
		object-fit: contain;
	}

	.pdf-variables,
	.pdf-variable,
	.visible-pdf {
		display: none !important;
	}

	.print-format {
		font-size: 7pt;
		font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
		-webkit-print-color-adjust:exact;
	}

	.page-break {
		page-break-after: always;
	}

	table.no-border, table.no-border td {
		border: 0px;
	}

	.print-format label {
		/* wkhtmltopdf breaks label into multiple lines when it is inline-block */
		display: block;
	}

	.print-format img {
		max-width: 100%;
	}

	.print-format table td > .primary:first-child {
		font-weight: bold;
	}

	.print-format td, .print-format th {
		vertical-align: middle !important;
		padding: 3px !important;
	}

	.print-format p {
		margin: 3px 0px 3px;
	}

	table td div {

		/* needed to avoid partial cutting of text between page break in wkhtmltopdf */
		page-break-inside: avoid !important;

	}

	/* hack for webkit specific browser */
	@media (-webkit-min-device-pixel-ratio:0) {
		thead, tfoot { display: table-row-group; }
	}

	[document-status] {
		margin-bottom: 5mm;
	}

	.signature-img {
		background: #fff;
		border-radius: 3px;
		margin-top: 5px;
		max-height: 150px;
	}

	.print-heading {
		text-align: right;
		text-transform: uppercase;
		color: #666;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #d1d8dd;
	}

	.print-heading h2 {
		font-size: 24px;
	}

	.print-format th {
		background-color: #a0d0db !important;
		border-bottom: 0px !important;
	}

	/* modern format: for-test */

	.pbi_avoid {
		page-break-inside: avoid !important;
	}

	.pb_before {
		page-break-before: always !important;
	}

	.pdf-header {
		display: inline-block;
	}

	.text-primary-header {
    	color: #010a4f; /* or any warning color you prefer */
	}

	.text-primary-head {
    	color: #043f80; /* or any warning color you prefer */
	}

	.text-primary {
    	color: #3532ed; /* or any warning color you prefer */
	}

	.text-secondary {
    	color: #610623; /* or any warning color you prefer */
	}

  	.performance-title {
    	text-align: center;
  	}

</style>


<table width="100%" style="margin-top: 0; margin-bottom: 0; padding: 0;">
    <tbody>
        <tr>
            <td style="width: 11%; border: 0; valign='top'">
                <div align="left"><img src="/files/Super Logo New.png"></div>
            </td>
            <td style="width: 76%; border: 0">
				<div class="text-center">
				    <h3><b class="text-primary-header">{{ program.custom_school | upper }}</b><small><i>
				    {% set u = frappe.get_doc("Company", program.custom_school) %}
				    <p>{{ frappe.db.get_value("Address", u.custom_default_address, "address_line1") or "" }}, {{ frappe.db.get_value("Address", u.custom_default_address, "city") or "" }}, {{ frappe.db.get_value("Address", u.custom_default_address, "state") or "" }}</p>
				    <p>Tel: {{ frappe.db.get_value("Address", u.custom_default_address, "phone") or "" }}</p>
				    <p>Email: enquiries@mpischool.com | Web: www.mpischool.com</p></i></small></h3>
				    <h5><b class="text-secondary">CONTINUOUS ASSESSMENT REPORT SHEET</b></h5>
				</div>
            </td>
            <td style="width: 13%; border: 0; valign='top'">
                <div align="right"><img src="{{ students.image }}"></div>
            </td>
        </tr>
    </tbody>
</table>
<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #000; border-color: #007BFF;">
    <tr>
        <td><b class="text-primary-head">Name:<span class="text-primary"> {{ doc.student_name | upper }}</span></b></td>
        <td><b class="text-primary-head">ID:<span class="text-primary"> {{ doc.students[0] }}</span></b></td>
        <td><b class="text-primary-head">Class:<span class="text-primary"> {{ doc.program }}</span></b></td>
    </tr>
    <tr>
        <td><b class="text-primary-head">Session:<span class="text-primary"> {{ doc.academic_year }}</span></b></td>
        <td><b class="text-primary-head">Term:<span class="text-primary"> {{ term.term_name }}</span></b></td>
        <td><b class="text-primary-head">Arm:<span class="text-primary"> {{ sections}}</span></b></td>
    </tr>
    <tr>
        <td><b class="text-primary-head">Class Teacher:<span class="text-primary"> {% for instructor in instructor %}{{ instructor.instructor | upper or ""}}{% endfor %}</span></b></td>
        <td><b class="text-primary-head">Attendance:<span class="text-primary"> {{ doc.attendance.present if doc.attendance.present else 0 }} out of {{ doc.attendance.total }}  {{ _(" days") }}</span></b></td>
        <td><b class="text-primary-head">Date of Birth:<span class="text-primary"> {{ format_date(students.date_of_birth) or "" }}</span></b></td>
    </tr>
</table>

<p class="performance-title"><b class="text-secondary" style="font-size: 9pt">PERFORMANCE IN SUBJECTS</b></p>
<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <thead>
        <tr>
        	<th class="text-center" width="3%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">SN</span></th>
	        <th class="text-center" width="20%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">Subject</span></th>
			{% for criterias in assessment_criteria %}
    	    <th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">{{ criterias.custom_abbr }}</span></th>
			{% endfor %}
        	<th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">Total</span></th>
        	<th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">Class Avg.</span></th>
	        <th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">Grade</span></th>
    	    <th class="text-center" width="10%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">Remark</span></th>
        	<th width="10%"><span class="text-primary-head">Subject Teacher</span></th>
        </tr>
    </thead>
    <tbody>
     {% if assessment_result %}	
      {% for result in assessment_result %}
       {% if get_course_subject(result.course) != 'Others' %}
        <tr>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ loop.index}}</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ get_course_subject(result.course) | upper }}</td>
			{% for criteria in get_criteria_marks(result.name) %}
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.score | round(1) }}</td>
			{% endfor %}
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ result.total_score | round(2) }}</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>97</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ result.grade }}</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ get_grade_remark(result.grading_scale, result.total_score) }}</td>
            <td style='border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ get_course_teacher(result.course, result.student_group, result.academic_term) }}</td>
        </tr>
       {% endif %}
      {% endfor %}
     {% else %}  
        <tr>
            <td colspan="10" class="text-center">No student found.</td>
        </tr>
     {% endif %}  
    </tbody>
</table>

<table width="100%" style="margin-top: 0; margin-bottom: 0; padding: 2; border: 0;">
    <tr>
        <td width="30%"><p><b class="text-primary-header">Number of Subjects Offered: {{ course_count }}</b></p></td>
        <td width="45%" class="text-center" colspan="2"><p><b class="text-primary-header">Total Score: {{ total_score | round(1) }}</b></p></td>
        <td width="25%"><p><b class="text-primary-header">Final Average: {{ average | round(2) }}</b></p></td>
    </tr>
    <!-- <tr>
        <td width="30%"><p><b> class="text-primary-header"Position in Arm: 10</b></p></td>
        <td width="20%"><p><b class="text-primary-header">No. in Arm: {{ section_count }}</b></p></td>
        <td width="25%"><p><b class="text-primary-header">Position in Class: 11</b></p></td>
        <td width="25%"><p><b class="text-primary-header">No. in Class: {{ program_count }}</b></p></td>
    </tr> -->
</table>

<div style="margin-top: 0px;">
<p><i><b class="text-primary left" style="font-size: 6pt">INTERPRETATION: 95-100= Outstanding, 90-94= Excellent, 85-89= Proficient, 80-84= V.Good, 75-79= Good, 70-74= Satisfactory, 0-69= Fair<hr></b></i></p>
</div>

<table width="100%" style="margin-top: 0; margin-bottom: 0; padding: 0;">
    <tbody>
        <tr>
            <td style="width: 48%; border: 0">

<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <thead>
        <tr>
            <th class="text-center" style='border-right:#043f80 solid 1px;;'><b class="text-primary-head">AFFECTIVE ASSESSMENT</b></th>
            <th class="text-center" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">SCORE</span></th>
            <th class="text-center" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">GRADE</span></th>
        </tr>
    </thead>
    <tbody>
     {% if assessment_result %}	
      {% for result in assessment_result %}
       {% if result.course == 'AFFECTIVE ASSESSMENT' %}
        <tr>
			{% for criteria in result.custom_structure_detail %}
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.assessment_type }}</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.score }}</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.grade }}</td>
			{% endfor %}
        </tr>
       {% endif %}
      {% endfor %}
     {% endif %}  
    </tbody>
</table>

            </td>
            <td style="width: 4%; border: 0">
            </td>
            <td style="width: 48%; border: 0">

<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <thead>
        <tr>
            <th class="text-center" style='border-right:#043f80 solid 1px;;'><b class="text-primary-head">PSYCHOMOTOR ASSESSMENT</b></th>
            <th class="text-center" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">SCORE</span></th>
            <th class="text-center" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">GRADE</span></th>
        </tr>
    </thead>
    <tbody>
     {% if assessment_result %}	
      {% for result in assessment_result %}
       {% if result.course == 'PSYCHOMOTOR ASSESSMENT' %}
        <tr>
			{% for criteria in result.custom_structure_detail %}
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.assessment_type }}</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.score }}</td>
            <td style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.grade }}</td>
			{% endfor %}
        </tr>
       {% endif %}
      {% endfor %}
     {% endif %}  
    </tbody>
</table>
            </td>
        </tr>
    </tbody>
</table>
<div style="margin-top: 0px;">
<p><i><b class="text-primary left">INTERPRETATION: 4.5-5= EXCELLENT , 3.5-4= VERY GOOD , 2.5-3= GOOD , 1.5-2= FAIR , 0-1= POOR<hr></b></i></p>
</div>

<p class="performance-title"><b class="text-secondary" style="font-size: 9pt">COMMENTS</b></p>
<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <tr>
        <td width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-header">CLASS TEACHER'S COMMENT</b></p></td>
        <td width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p> </p></td>
    </tr>
    <tr>
        <td width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-head">CLASS TEACHER'S NAME AND SIGNATURE</b></p></td>
        <td width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p> </p></td>
    </tr>
    <tr>
        <td width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-header">HEAD TEACHER'S COMMENT</b></p></td>
        <td width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p> </p></td>
    </tr>
    <tr>
        <td width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-head">HEAD TEACHER'S NAME AND SIGNATURE</b></p></td>
        <td width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p> </p></td>
    </tr>
</table>

