{% extends "templates/layout.html" %}

{% block title %}
{{ _("Parent") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav2.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Parents
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          All Parents:
         </span>
         <span class="text-md text-ray-800 font-semibold me-2">
          {{ parent_count }}
         </span>
        </div>
       </div>
       <div class="flex items-center gap-2.5">
        <a class="btn btn-sm btn-primary" href="/app/guardian/new-guardian">
         Add Parent
        </a>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header flex-wrap gap-2">
         <h3 class="card-title font-medium text-sm">
          <!-- Showing 10 of {{ parent_count }} Parents -->
         </h3>
         <div class="flex flex-wrap gap-2 lg:gap-5">
          <div class="flex">
           <label class="input input-sm">
            <i class="ki-filled ki-magnifier">
            </i>
            <input id="search-input" placeholder="Search parents" type="text" value="">
            </input>
           </label>
          </div>
         </div>
        </div>
        <div class="card-body">
          <div class="scrollable-x-auto">
           <table class="table table-auto table-border" data-datatable-table="true">
            <thead>
             <tr>
              <th class="w-[60px] text-center">
              </th>
              <th class="min-w-[300px]">
               <span class="sort asc">
                <span class="sort-label">
                 Parent
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Parent Code
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[100px]">
               <span class="sort">
                <span class="sort-label">
                 Student
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Mobile No
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[300px]">
               <span class="sort">
                <span class="sort-label">
                 Address
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="w-[60px]">
              </th>
             </tr>
            </thead>
            <tbody>
            {% for parent in parents %}
             <tr>
              <td class="text-center">
                <span class="badge badge-dot size-1.5 badge-primary"></span>
              </td>
              <td>
               <div class="flex items-center gap-2.5">
                <img alt="" class="rounded-full size-7 shrink-0" src="{% if parent.image  %}{{parent.image}}{% else %}assets/edubliss/dist/media/avatars/blank.png{% endif %}"/>
                <div class="flex flex-col">
                 <a class="text-sm text-primary hover:text-primary-active mb-px" href="/parents/profile/{{ parent.name }}">
                  {{ parent.guardian_name }}
                 <span class="text-2sm font-medium text-gray-600 hover:text-primary-active">
                  {{ parent.email_id or "" }}
                 </span>
                 </a>
                </div>
               </div>
              </td>
              <td>
               {{ parent.name }}
              </td>
              <td>
               {{ get_parent_students(parent.name) }}
              </td>
              <td>
               {{ parent.mobile_number }}
              </td>
              <td>
               {{ parent.custom_contact_address }}
              </td>
              <td>
               <div class="menu" data-menu="true">
                <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                 <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                  <i class="ki-filled ki-dots-vertical">
                  </i>
                 </button>
                 <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                  <div class="menu-item">
                   <a class="menu-link" href="/parents/profile/{{ parent.name }}">
                    <span class="menu-icon">
                     <i class="ki-filled ki-search-list">
                     </i>
                    </span>
                    <span class="menu-title">
                     View
                    </span>
                   </a>
                  </div>
                  <div class="menu-separator">
                  </div>
                  <div class="menu-item">
                   <a class="menu-link" href="/app/guardian/{{ parent.name }}">
                    <span class="menu-icon">
                     <i class="ki-filled ki-pencil">
                     </i>
                    </span>
                    <span class="menu-title">
                     Edit
                    </span>
                   </a>
                  </div>
                 </div>
                </div>
               </div>
              </td>
             </tr>
            {% endfor %}
            </tbody>
           </table>
          </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}

{% block custom_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get references to the search input and table rows
    const searchInput = document.getElementById('search-input');
    const table = document.querySelector('[data-datatable-table="true"]');
    const rows = table.querySelectorAll('tbody tr');

    // Event listener for input on the search field
    searchInput.addEventListener('input', function() {
      const searchTerm = searchInput.value.toLowerCase();

      rows.forEach(row => {
        // Check if any cell in the row contains the search term
        const cells = Array.from(row.querySelectorAll('td'));
        const match = cells.some(cell => cell.textContent.toLowerCase().includes(searchTerm));

        // Show or hide the row based on the match
        row.style.display = match ? '' : 'none';
      });
    });
  });
</script>
{% endblock %}
