     <div class="modal" data-modal="true" id="eventModal">
      <div class="modal-content modal-center max-w-[600px] w-full" >
       <div class="modal-header">
        <h3 class="modal-title" id="eventModalTitle">
        </h3>
        <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
          <i class="ki-outline ki-cross">
          </i>
        </button>       
       </div>
       <div class="modal-body scrollable-y py-0 my-5 pl-6 pr-3 mr-3 h-[200px] max-h-[65%]" id="eventModalBody">
       </div>
      </div>
     </div>
