      {% if success %}
     <div class="modal" data-modal="true" data-modal-backdrop-static="true" id="modal_success_message">
      <div class="modal-content modal-center max-w-[500px] w-full">
       <div class="modal-header justify-end border-0 pt-5">
        <button class="btn btn-sm btn-icon btn-light" data-modal-dismiss="true">
         <i class="ki-filled ki-cross">
         </i>
        </button>
       </div>
       <div class="modal-body scrollable-y py-0 my-5 pl-6 pr-3 mr-3 h-[300px] max-h-[95%]">
        <div class="mb-10 flex flex-col items-center">
         <img alt="image" class="dark:hidden max-h-[140px]" src="assets/edubliss/dist/media/illustrations/28.svg"/>
         <img alt="image" class="light:hidden max-h-[140px]" src="assets/edubliss/dist/media/illustrations/28-dark.svg"/>
        </div>
        <h2 class="text-lg font-semibold text-success text-center mb-3">
         Receipt Upload Successful
        </h2>
        <div class="text-sm font-medium text-center text-gray-700 mb-7">
         Your upload was successful but is still being processed.
         <br/>
         You will receive a confirmation shortly.
        </div>
       </div>
      </div>
     </div>
     <script>
      window.onload = () => {
        const modalEl = KTDom.getElement('#modal_success_message');
        const modal = KTModal.getInstance(modalEl);
        modal?.show();
    };
     </script>
     {% endif %}

