{% extends "templates/layout.html" %}

{% block title %}
{{ _("Class") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav2.html" %}
{% endblock %}

{% block content %}
<main class="grow content pt-5" id="content" role="content">
  <!-- begin: container -->
  <div class="container-fixed" id="content_container"></div>
  <!-- end: container -->
  <!-- begin: container -->
  <div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
      <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-gray-900">Class & Subjects</h1>
        <div class="flex items-center gap-2 text-sm font-medium text-gray-600"></div>
      </div>
    </div>
  </div>
  <!-- end: container -->
  <!-- begin: container -->
  <div class="container-fixed">
    <!-- begin: grid -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-7.5">
      <div class="col-span-1">
        <div class="grid gap-5 lg:gap-7.5">
          <div class="card">
            <div class="card-header bg-primary">
              <h3 class="card-title text-light">Class</h3>
              <a href="app/program/new-program">
                <i class="ki-solid ki-abstract-10 text-sm text-light" data-tooltip="#program_tooltip" data-tooltip-placement="bottom"></i>
                <div class="hidden rounded shadow-default p-3 bg-light border border-gray-300 text-gray-800 text-xs font-normal" id="program_tooltip">Add Program</div>
              </a>
            </div>
            <div class="card-body bg-info-light pt-3.5 pb-3.5">
              <table class="table-auto">
                <tbody>
                  {% for program in programs %}
                  <tr>
                    <td>
                      <a href="/admin/program?program_name={{ program.name }}" class="btn btn-info btn-clear {% if program.name == selected_program %}active{% endif %}">
                        {{ program.name }}
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-2">
        <div class="flex flex-col gap-5 lg:gap-7.5">
          <div class="flex flex-col gap-5 lg:gap-7.5">
            <div class="card bg-secondary">
              <div class="card-header">
                <h3 class="card-title">Subjects</h3>
                {% if selected_program %}
                <a href="/app/program/{{ selected_program }}" class="btn btn-sm btn-primary" data-tooltip="#custom_tooltip">
                  <i class="ki-outline ki-plus text-sm"></i>
                  Add Subject
                </a>
                <div class="hidden rounded-xl shadow-default p-3 bg-light border border-gray-200 text-gray-700 text-xs font-normal" id="custom_tooltip">Edit {{ selected_program }}</div>
                {% endif %}
              </div>
              <div class="card-table scrollable-x-auto">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th class="w-[30px]"></th>
                      <th class="text-left min-w-[150px]">Course</th>
                      <th class="min-w-[100px]">Code</th>
                      <th class="min-w-[100px]">Type</th>
                      <th class="text-left min-w-[150px]">Category</th>
                      <th class="text-left min-w-[150px]">On Report</th>
                      <th class="w-[30px]"></th>
                    </tr>
                  </thead>
                  <tbody id="course-table-body">
                    {% for course in courses %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td class="text-left">
                        <div href="/admin/program?program_name={{ selected_program }}&course_name={{ course.course }}" class="text-sm font-semibold text-gray-900 hover:text-primary">
                            {{ course.course }}
                        </div>
                      </td>
                      <td class="text-sm text-gray-700 font-medium">
                            {{ get_program_course_code(course.course) or '' }}
                      </td>
                      <td class="text-sm font-medium text-gray-700">
                        <span class="badge {{ 'badge-success' if course.required else 'badge-warning' }} badge-outline rounded-[30px]">
                          <span class="size-1.5 rounded-full {{ 'bg-success' if course.required else 'bg-warning' }} me-1.5"></span>
                          {{ 'Core' if course.required else 'Elective' }}
                        </span>
                      </td>
                      <td class="text-sm text-gray-700 font-medium">
                            {{ get_program_course_category(course.course) or '' }}
                      </td>
                      <td class="text-sm text-gray-700 font-medium">
                            {{ get_program_course_subject(course.course) or '' }}
                      </td>
                      <td class="text-left">
                        <div class="menu" data-menu="true">
                          <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                            <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                              <i class="ki-filled ki-dots-vertical"></i>
                            </button>
                            <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                              <div class="menu-item">
                                <a class="menu-link" href="/admin/course/overview/{{ course.course }}">
                                  <span class="menu-icon">
                                    <i class="ki-filled ki-search-list"></i>
                                  </span>
                                  <span class="menu-title">View</span>
                                </a>
                              </div>
                              <div class="menu-separator"></div>
                              <div class="menu-item">
                                <a class="menu-link" href="/app/course/{{ course.course }}">
                                  <span class="menu-icon">
                                    <i class="ki-filled ki-pencil"></i>
                                  </span>
                                  <span class="menu-title">Edit</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="card-footer justify-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end: grid -->
  </div>
  <!-- end: container -->
</main>
{% endblock %}
{% block welcome_link %}
{% include "templates/includes/modal/course_plan.html" %}
{% endblock %}
