{% extends "templates/layout.html" %}

{% block title %}
{{ _("Class Timetable") }}
{% endblock %}

{% block custom_link %}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <style>
      body {
        background: #edf2f7;
      }
      /* Calendar headers (e.g., "Sunday", "Monday") */
      .fc {
        font-family: 'Arial', sans-serif; /* Custom font family */
        color: #929496 !important; /* Darker color for day headers */
      }
      .fc-event {
        cursor: pointer;
        font-size: 0.65rem !important; /* Reduce font size for mobile */
        line-height: 1.1; /* Adjust line height for event titles */
        padding: 0.3rem; /* Add some padding inside the event */
        border-radius: 4px; /* Round the corners of the event */
      }
      .fc-toolbar-title {
        font-weight: 300;
        font-size: 1.3rem !important; /* Reduce font size for mobile */
        color: black !important;
      }
      .fc-button {
        font-size: 0.8rem !important; /* Optionally reduce button font size */
      }

      /* Responsive styling for the month header */
      @media (max-width: 600px) {
        .fc-toolbar-title {
          font-size: 0.8rem !important; /* Reduce font size for mobile */
        }
        .fc-button {
          font-size: 0.6rem !important; /* Optionally reduce button font size */
        }
      }
    </style>
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav2.html" %}
{% endblock %}

{% block content %}
<main class="grow content pt-5" id="content" role="content">
  <!-- begin: container -->
  <div class="container-fixed" id="content_container"></div>
  <!-- end: container -->
  <!-- begin: container -->
  <div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
      <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-gray-900">Class Schedule</h1>
        <div class="flex items-center gap-2 text-sm font-medium text-gray-600"></div>
      </div>
    </div>
  </div>
  <!-- end: container -->
  <!-- begin: container -->
  <div class="container-fixed">
    <!-- begin: grid -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-7.5">
      <div class="col-span-1">
        <div class="grid gap-5 lg:gap-7.5">
          <div class="card bg-primary-light">
            <div class="card-header">
              <h3 class="card-title text-gray-900">Section</h3>
              {% if "Academics User" in user_roles %}
              <a href="app/course-scheduling-tool">
                <i class="ki-solid ki-abstract-10 text-sm text-gray-900" data-tooltip="#program_tooltip" data-tooltip-placement="bottom"></i>
                <div class="hidden rounded shadow-default p-3 bg-light border border-gray-300 text-gray-800 text-xs font-normal" id="program_tooltip">Course Schedule Tool</div>
              </a>
              {% endif %}
            </div>
            <div class="card-body pt-3.5 pb-3.5">
              <table class="table-auto">
                <tbody>
                  {% for section in sections %}
                  <tr>
                    <td>
                      <a class="btn btn-primary btn-clear {% if section.student_group_name == selected_section %}active{% endif %}" href="/admin/timetable?section_name={{ section.student_group_name }}" data-tooltip="true" data-tooltip-placement="right">
                        {{ section.student_group_name }}
                       <div class="popover shadow-lg max-w-72 bg-secondary" style="z-index: 100; position: fixed; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(142px, 50.6667px, 0px);" data-popper-placement="right">
                        <div class="popover-header font-semibold text-gray-900">
                        <div class="p-4 text-sm text-gray-900 font-medium">
                         {{ section.student_group_name }} Details
                         <span>
                          <i class="ki-filled ki-black-right text-md"></i>
                         </span>
                        </div>
                        </div>
                       <div class="popover-body">
                        <div class="scrollable-y m-2 p-4 h-[150px] text-sm text-gray-700">
                          Program: {{ section.program }}
                          <br>
                          Status:
                          <span class="badge  badge-xs badge-pill badge-outline {{ 'badge-success' if section.disabled == 0 else 'badge-danger' }} gap-1 items-center">
                            {{ 'Active' if section.disabled == 0 else 'Disabled' }}
                          </span>
                          <br>
                          Batch: {{ section.batch }}
                          <br>
                          Teachers: {{ get_section_teachers(section.student_group_name) }}
                          <br>
                          Term: {{ section.academic_term }}
                        </div>
                       </div>
                       </div>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-2">
        <div class="flex flex-col gap-5 lg:gap-7.5">
          <div class="card flex flex-col gap-5 lg:gap-7.5">
           {% if selected_section %} 
              <div class="card-header">
                <h3 class="card-title text-gray-900">{{ selected_section }}</h3>
                <!-- Add the button for toggling weekends -->
                <div align="right"><button class="btn btn-secondary btn-xs text-sm" id="toggleWeekends">Show Weekends</button></div>
              </div>
                <div id="calendar"  class="bg-secondary text-gray-900 text-sm rounded-lg shadow-md" style="width: 100%; height: 600px; border: 0px solid #000;"></div>
           {% endif %} 
          </div>
        </div>
      </div>
    </div>
    <!-- end: grid -->
  </div>
  <!-- end: container -->
</main>
{% endblock %}

{% block custom_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var showWeekends = false; // Initially hide weekends

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'today timeGridWeek,timeGridDay' // View options
            },
            initialView: 'timeGridWeek', // Week view with time slots
            slotMinTime: "07:00:00", // Start showing time slots from 7 AM
            slotMaxTime: "17:00:00", // End showing time slots at 5 PM
            allDaySlot: false, // Disable the 'all-day' slot
            editable: true,
            weekends: showWeekends, // Initially hide weekends
            events: function(fetchInfo, successCallback, failureCallback) {
                fetch('/api/method/edubliss.api.get_section_schedule?student_group={{ selected_section }}&academic_term={{ acadterm }}', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    successCallback(data.message.message);
                })
                .catch(error => {
                    console.error('Error fetching events:', error);
                    failureCallback(error);
                });
            },
            eventClick: function(info) {
                // Open a modal or navigate to a detail page using the event ID
                var eventId = info.event.id;

                // Example: Open modal with more event details
                fetch(`/api/method/edubliss.api.get_schedule_details?event_id=${eventId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {

                    // Helper function to format date
                    function formatDate(dateStr) {
                        const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric' };
                        return new Intl.DateTimeFormat('en-GB', options).format(new Date(dateStr));
                    }

                    // Format start and end dates
                    const formattedStart = formatDate(data.message.start);

                    // You can now populate the modal with event details
                    document.getElementById('eventModalTitle').innerHTML = `
                        <h3 class="modal-title" style="color: ${data.message.color}">
                         ${data.message.title}
                        </h3>
                        <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
                         <i class="ki-outline ki-cross"></i>
                        </button>       
                    `;
                    document.getElementById('eventModalBody').innerHTML = `
                       <div class="flex flex-col gap-3.5 mb-3.5">
                        <div class="flex items-center gap-2.5">
                         <span class="text-sm text-gray-600 shrink-0">
                          <i class="ki-filled ki-calendar"></i>
                         </span>
                         <div class="text-sm text-gray-900">
                          ${formattedStart}
                         </div>
                        </div>
                        <div class="flex items-center gap-2.5">
                         <span class="text-sm text-gray-600 shrink-0">
                          <i class="ki-filled ki-user"></i>
                         </span>
                         <div class="text-sm text-gray-900">
                          ${data.message.instructor}
                         </div>
                        </div>
                        <div class="flex items-center gap-2.5">
                         <span class="text-sm text-gray-600 shrink-0">
                          <i class="ki-filled ki-time"></i>
                         </span>
                         <div class="text-sm text-gray-900">
                          ${data.message.from_time} - ${data.message.to_time}
                         </div>
                        </div>
                        <div class="flex items-center gap-2.5">
                         <span class="text-sm text-gray-600 shrink-0">
                          <i class="ki-filled ki-book"></i>
                         </span>
                         <div class="text-sm text-gray-900">
                          ${data.message.student_group}
                         </div>
                        </div>
                       </div>
                    `;
                    const modalEl = KTDom.getElement('#scheduleModal');
                    const modal = KTModal.getInstance(modalEl);
                    modal?.show();
                })
                .catch(error => {
                    console.error('Error fetching event details:', error);
                });
            }
        });

        // Button to toggle weekends
        var toggleWeekendBtn = document.getElementById('toggleWeekends');
        toggleWeekendBtn.addEventListener('click', function() {
            showWeekends = !showWeekends; // Toggle weekends visibility
            calendar.setOption('weekends', showWeekends); // Update calendar
            toggleWeekendBtn.textContent = showWeekends ? 'Hide Weekends' : 'Show Weekends'; // Update button text
        });

        calendar.render();
    });
</script>
{% endblock %}

{% block welcome_link %}
{% include "templates/includes/modal/schedule.html" %}
{% endblock %}
