{% extends "templates/layout.html" %}

{% block title %}
{{ _("Teacher Subjects") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 {% if not 'Academics User' in user_roles %}bg-gray-100{% endif %}" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
    {% if "Academics User" in user_roles %}
    {% include "templates/includes/teacher_header.html" %}

    {% include "templates/includes/teacher_nav.html" %}
    {% endif %}
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Section
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          {{teachers.instructor_name}}
         </span>
        </div>
       </div>
       <div class="flex items-center gap-2.5">
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header flex-wrap gap-2">
         <h3 class="card-title font-medium text-sm">
         </h3>
        </div>
        <div class="card-body">
          <div class="scrollable-x-auto">
           <table class="table table-auto" data-datatable-table="true">
            <thead>
             <tr>
              <th class="min-w-[60px]">
              </th>
              <th class="min-w-[250px]">
                 Class Section
              </th>
              <th class="min-w-[200px]">
                 Program
              </th>
              <th class="min-w-[200px]">
                 Academic Year
              </th>
              <th class="min-w-[150px] text-center">
                 Attendance
              </th>
             </tr>
            </thead>
            <tbody>
             {% if sections %}
              {% for section in sections %}
             <tr>
              <td class="text-center">
                <span class="badge badge-dot size-1.5 badge-primary">
                </span>              
              </td>
              <td>
                 <a class="text-sm font-semibold text-primary hover:text-primary-active mb-px" href="admin/program/sections_details?section_name={{ section.student_group_name }}">
                  {{ section.student_group_name }}
                 </a>
              </td>
              <td>
               {{ section.program }}
              </td>
              <td>
               <div class="flex justify-center">
               {{ section.academic_year }}
               </div>
              </td>
              <td>
                 <a class="btn btn-link" href="/app/student-attendance-tool?based_on={{'Student Group'}}&student_group={{ section.student_group_name }}">
                  Add Attendance
                 </a>
                 <a class="btn btn-link" href="/app/query-report/Student Monthly Attendance Sheet?student_group={{ section.student_group_name }}">
                  View Attendance
                 </a>               
              </td>
             </tr>
               {% endfor %}
             {% else %}
             <tr>
              <td colspan="5" class="text-center">No Class Section found.</td>
             </tr>
             {% endif %}
            </tbody>
           </table>
          </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
