{% extends "templates/layout.html" %}

{% block title %}
{{ _("Student Billing") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
    {% if "Academics User" in user_roles or "Parent" in user_roles %}
    {% include "templates/includes/student_header.html" %}

    {% include "templates/includes/student_nav.html" %}
    {% endif %}
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Billing History
        </h1>
        {% if "Student" in user_roles %}
        <div class="flex items-center gap-2 text-sm font-medium text-gray-600">
         {{students.student_name}}
        </div>
        {% endif %}
       </div>
       <div class="flex items-center gap-2.5">
        <a class="btn btn-sm btn-light" href="/students/ledger/{{ students.name }}">
         Ledger 
        </a>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
        <div class="card">
         <div class="card-body lg:py-7.5">
          <div class="flex flex-wrap gap-7.5">
           <div class="flex flex-col gap-5 lg:gap-7.5 grow">
            <div class="flex items-center flex-wrap gap-3 lg:gap-5">
             {% if "Academics User" in user_roles %}
             <div class="grid grid-cols-1 content-between gap-1.5 border border-dashed border-gray-400 shrink-0 rounded-md px-3.5 py-2 min-w-24 max-w-auto">
              <span class="text-gray-900 text-md leading-none font-semibold">
               {{ frappe.format(total_debit, {'fieldtype': 'Currency'}) }}
              </span>
              <span class="text-gray-600 text-2sm font-medium">
               Total Fees
              </span>
             </div>
             <div class="grid grid-cols-1 content-between gap-1.5 border border-dashed border-gray-400 shrink-0 rounded-md px-3.5 py-2 min-w-24 max-w-auto">
              <span class="text-gray-900 text-md leading-none font-semibold">
               {{ frappe.format(total_credit, {'fieldtype': 'Currency'}) }}
              </span>
              <span class="text-gray-600 text-2sm font-medium">
               Total Payment
              </span>
             </div>
             {% endif %}
             <div class="grid grid-cols-1 content-between gap-1.5 border border-dashed border-gray-400 shrink-0 rounded-md px-3.5 py-2 min-w-24 max-w-auto">
              <span class="text-gray-900 text-md leading-none font-semibold">
               {% if balance > 0 %}
               {{ frappe.format(balance, {'fieldtype': 'Currency'}) }}
               {% else %}
               {{ frappe.format(0.00, {'fieldtype': 'Currency'}) }}
               {% endif %}               
              </span>
              <span class="text-gray-600 text-2sm font-medium">
               Balance Due
              </span>
             </div>
             <div class="grid grid-cols-1 content-between gap-1.5 border border-dashed border-gray-400 shrink-0 rounded-md px-3.5 py-2 min-w-24 max-w-auto">
              <span class="text-gray-900 text-md leading-none font-semibold">
               {% if balance < 0 %}
               {{ frappe.format(abs(balance), {'fieldtype': 'Currency'}) }}
               {% else %}
               {{ frappe.format(0.00, {'fieldtype': 'Currency'}) }}
               {% endif %}               
              </span>
              <span class="text-gray-600 text-2sm font-medium">
               Deposit
              </span>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       <div class="card card-grid min-w-full">
        <div class="card-header">
         <h3 class="card-title">
          Incoming Billing
         </h3>
        </div>
        <div class="card-body">
          <div class="scrollable-x-auto">
           <table class="table table-border">
            <thead>
             <tr>
              <th class="w-14">
              </th>
              <th class="min-w-[200px]">
                 Title
              </th>
              <th class="min-w-[200px]">
                 Status
              </th>
              <th class="min-w-[150px]">
                 Date
              </th>
              <th class="min-w-[200px]">
                 Grand Total
              </th>
              <th class="min-w-[200px]">
              </th>
              <th class="min-w-[100px]">
              </th>
             </tr>
            </thead>
            <tbody>
               {{ sales_orders_html | safe }}
            </tbody>
           </table>
          </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header">
         <h3 class="card-title">
          Invoice and Payments
         </h3>
        </div>
        <div class="card-body">
         <div data-datatable="true" data-datatable-page-size="20">
          <div class="scrollable-x-auto">
           <table class="table table-border" data-datatable-table="true">
            <thead>
             <tr>
              <th class="w-14">
               <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox"/>
              </th>
              <th class="min-w-[200px]">
               <span class="sort">
                <span class="sort-label">
                 Title
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Status
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Date
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[200px]">
               <span class="sort">
                <span class="sort-label">
                 Grand Total
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[200px]">
               <span class="sort">
                <span class="sort-label">
                 Outstanding
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[200px]">
              </th>
              <th class="min-w-[100px]">
              </th>
             </tr>
            </thead>
            <tbody>
               {{ sales_invoices_html | safe }}
           </tbody>
           </table>
          </div>
          <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
           <div class="flex items-center gap-2 order-2 md:order-1">
            Show
            <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
            </select>
            per page
           </div>
           <div class="flex items-center gap-4 order-1 md:order-2">
            <span data-datatable-info="true">
            </span>
            <div class="pagination" data-datatable-pagination="true">
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}

{% block custom_js %}
<script>
async function openModalWithFetch(orderName, doctype) {
    console.log("Order Name:", orderName);
    console.log("Doctype:", doctype);

    // Fetch order details from the Frappe API
    try {
        let response;
        if (doctype === 'Sales%20Order') {  // Correct comparison with '==='
            response = await fetch(`/api/method/edubliss.api.get_order_details?order_name=${orderName}`);
        } else {
            response = await fetch(`/api/method/edubliss.api.get_invoice_details?order_name=${orderName}`);
        }

        const data = await response.json();

        if (data.message) {
            // Populate modal content with fetched data
            document.getElementById('payModalTitle').innerText = `Pay Fee - ${data.message.name}`;
            document.getElementById('payModalBody').innerHTML = `
              <div class="flex flex-col gap-5 mb-3.5">
               <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-56">Student</label>
                <div class="flex items-center justify-between flex-nowrap grow gap-2.5">
                 <span class="text-sm text-gray-900">${data.message.customer}</span>
                </div>
               </div>
               <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-56">Student ID</label>
                <div class="text-sm text-gray-900">${data.message.student}</div>
               </div>
               <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-56">Program</label>
                 <div class="text-sm text-gray-900">${data.message.program}</div>
               </div>
               <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-56">Amount</label>
                <input id="paymentAmount" class="input" name="amount" type="text" data-modal-autofocus="true" value="${data.message.grand_total}" required/>
               </div>
               <div class="flex justify-end">
                <button class="btn btn-sm btn-dark" onclick="proceedToPayment('${doctype}','${data.message.name}', document.getElementById('paymentAmount').value)">
                 <i class="ki-filled ki-credit-cart"></i>
                 Proceed to Payment
                </button>
               </div>
              </div>
            `;
            // Show the modal
            const modalEl = KTDom.getElement('#payModal');
            const modal = KTModal.getInstance(modalEl);
            modal?.show();
        } else {
            console.error('Error fetching data:', data.error);
        }
    } catch (error) {
        console.error('Fetch error:', error);
    }
}

// Function to handle "Proceed to Payment" button click
function proceedToPayment(doctype, orderName, amount) {
    if (!amount) {
        alert("Please enter a valid amount.");
        return;
    }

    // Construct the URL for the payment request with dynamic amount
    const paymentUrl = `/api/method/edubliss.edubliss.payment_request.make_payment_request?dn=${orderName}&dt=${doctype}&submit_doc=1&amt=${amount}&order_type=Shopping%20Cart`;

    // Redirect the user to the payment URL
    window.location.href = paymentUrl;
}
</script>

{% endblock %}

{% block welcome_link %}
{% include "templates/includes/modal/pay.html" %}
{% endblock %}
