{% extends "templates/layout.html" %}

{% block title %}
{{ _("Student Enrollment") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
    {% if "Academics User" in user_roles or "Parent" in user_roles %}
    {% include "templates/includes/student_header.html" %}

    {% include "templates/includes/student_nav.html" %}
    {% endif %}
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Enrollment
        </h1>
        {% if "Student" in user_roles %}
        <div class="flex items-center gap-2 text-sm font-medium text-gray-600">
         {{students.student_name}}
        </div>
        {% endif %}
       </div>
       <div class="flex items-center gap-2.5">
        <a class="btn btn-sm btn-light" href="/students/lms/{{ students.name }}">
         LMS 
        </a>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <!-- begin: grid -->
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-7.5">
       <div class="col-span-1">
        <div class="grid gap-5 lg:gap-7.5">
         <div class="card bg-info-light">
          <div class="card-header">
           <h3 class="card-title text-gray-800">
            Class
           {% if program.docstatus == 1 %}
            <i class="ki-solid ki-verify text-success text-sm" data-tooltip="#tooltip_right1" data-tooltip-placement="right">
            </i>
            <div class="tooltip" id="tooltip_right1">
             Approved
            </div>
           {% elif program.docstatus == 0 %}        
            <i class="ki-solid ki-information text-danger text-sm" data-tooltip="#tooltip_right2" data-tooltip-placement="right">
            </i>
            <div class="tooltip" id="tooltip_right2">
             Pending
            </div>
           {% endif %}        
           </h3>
           {% if "Academics User" in user_roles %}
           {%if program.docstatus %}
           <a href="/app/program-enrollment/{{ program.name }}" class="btn btn-sm btn-secondary">
            <i class="ki-outline ki-setting-2">
            </i>
            Edit
           </a>
           {% endif %}
           {% endif %}
          </div>
          <div class="card-body pt-3.5 pb-3.5">
           <table class="table-auto">
            <tbody>
             <tr>
              <td class="text-sm font-medium text-gray-500 pb-3 pe-4 lg:pe-8">
               Class:
              </td>
              <td class="text-sm font-medium text-gray-800 pb-3">
               {{ program.program or "" }}
              </td>
             </tr>
             <tr>
              <td class="text-sm font-medium text-gray-500 pb-3 pe-4 lg:pe-8">
               Section:
              </td>
              <td class="text-sm font-medium text-gray-800 pb-3">
               {{ sections or "" }}
              </td>
             </tr>
             <tr>
              <td class="text-sm font-medium text-gray-500 pb-3 pe-4 lg:pe-8">
               Academic Year:
              </td>
              <td class="text-sm font-medium text-gray-800 pb-3">
               {{ program.academic_year or "" }}
              </td>
             </tr>
             <tr>
              <td class="text-sm font-medium text-gray-500 pb-3 pe-4 lg:pe-8">
               Academic Term:
              </td>
              <td class="text-sm font-medium text-gray-800 pb-3">
               {{ program.academic_term or "" }}
              </td>
             </tr>
             <tr>
              <td class="text-sm font-medium text-gray-500 pb-3 pe-4 lg:pe-8">
               Enrollment Date:
              </td>
              <td class="text-sm font-medium text-gray-800 pb-3">
               {{ program.enrollment_date or "" }}
              </td>
             </tr>
             <tr>
              <td class="text-sm font-medium text-gray-500 pb-3 pe-4 lg:pe-8">
               Student Category:
              </td>
              <td class="text-sm font-medium text-gray-800 pb-3">
               {{ program.student_category or "" }}
              </td>
             </tr>
             <tr>
              <td class="text-sm font-medium text-gray-500 pb-3 pe-4 lg:pe-8">
               Student Batch:
              </td>
              <td class="text-sm font-medium text-gray-800 pb-3">
               {{ program.student_batch_name or "" }}
              </td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
       <div class="col-span-2">
        <div class="flex flex-col gap-5 lg:gap-7.5">
         <div class="flex flex-col gap-5 lg:gap-7.5">
          <div class="card bg-primary-light">
           <div class="card-header">
            <h3 class="card-title">
             Subjects
            </h3>
           {% if "Academics User" in user_roles %}
           {%if program.docstatus %}
           <!-- <button class="btn btn-sm btn-primary" data-tooltip="#custom_tooltip">
            <i class="ki-outline ki-plus text-sm">
            </i>
            Add Elective
           </button> -->
           <div class="hidden rounded-xl shadow-default p-3 bg-light border border-gray-200 text-gray-700 text-xs font-normal" id="custom_tooltip">
             Enrol Student into Elective Subjects.
            </div>
           {% endif %}
           {% endif %}
           </div>
           <div class="card-table scrollable-x-auto bg-light">
            <table class="table text-center">
             <thead>
              <tr>
               <th class="w-[30px]">
               </th>
               <th class="text-left min-w-[150px]">
                Course
               </th>
               <th class="min-w-[100px]">
                Code
               </th>
               <th class="min-w-[100px]">
                Type
               </th>
               <th class="w-[30px]">
               </th>
              </tr>
             </thead>
             <tbody>
             {% if courses %}
             {% for course in courses %}
              <tr>
               <td>
                {{ loop.index }}
               </td>
               <td class="text-left">
                <a href="/admin/course/overview/{{ course.course }}" class="text-sm text-primary hover:text-primary">
                 {{ course.course }}
                </a>
               </td>
               <td class="text-sm text-gray-700 font-medium">
                    {{ get_program_course_code(course.course) }}
               </td>
               <td class="text-sm font-medium text-gray-700">
                    {% if get_program_course_required(program_courses, course.course) == 1 %}
                 <span class="badge badge-success badge-outline rounded-[30px]">
                  <span class="size-1.5 rounded-full bg-success me-1.5">
                  </span>
                    Core
                 </span>
                    {% else %}
                 <span class="badge badge-warning badge-outline rounded-[30px]">
                  <span class="size-1.5 rounded-full bg-warning me-1.5">
                  </span>
                    Elective
                 </span>
                    {% endif %}
               </td>
               <td class="text-left">
                <div class="menu" data-menu="true">
                 <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                  <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                   <i class="ki-filled ki-dots-vertical">
                   </i>
                  </button>
                  <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                   <div class="menu-item">
                    <a class="menu-link" href="/admin/course/overview/{{ course.course }}">
                     <span class="menu-icon">
                      <i class="ki-filled ki-search-list">
                      </i>
                     </span>
                     <span class="menu-title">
                      View
                     </span>
                    </a>
                   </div>
                   {% if "Academics User" in user_roles %}
                   <div class="menu-separator">
                   </div>
                   <div class="menu-item">
                    <a class="menu-link" href="/app/course-enrollment/{{ course.name }}">
                     <span class="menu-icon">
                      <i class="ki-filled ki-pencil">
                      </i>
                     </span>
                     <span class="menu-title">
                      Edit
                     </span>
                    </a>
                   </div>
                   {% endif %}
                   <!-- <div class="menu-separator">
                   </div>
                   <div class="menu-item">
                    <a class="menu-link" href="#">
                     <span class="menu-icon">
                      <i class="ki-filled ki-trash">
                      </i>
                     </span>
                     <span class="menu-title">
                      Remove
                     </span>
                    </a>
                   </div> -->
                  </div>
                 </div>
                </div>
               </td>
              </tr>
             {% endfor %}
             {% else %}
             <tr>
              <td colspan="5" class="text-center">No Subject found.</td>
             </tr>
             {% endif %}
             </tbody>
            </table>
           </div>
           <div class="card-footer justify-center">
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <!-- end: grid -->
     </div>
     <!-- end: container -->
    </main>
{% endblock %}

{% block welcome_link %}
{% include "templates/includes/modal/course_plan.html" %}
{% endblock %}