{% extends "templates/layout.html" %}

{% block title %}
{{ _("Student Enrollment") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 {% if 'Student' in user_roles and not 'Academics User' in user_roles %}bg-gray-100{% endif %}" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
    {% if "Academics User" in user_roles or "Parent" in user_roles %}
    {% include "templates/includes/student_header.html" %}

    {% include "templates/includes/student_nav.html" %}
    {% endif %}
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Gradebook Grades
        </h1>
        {% if "Student" in user_roles %}
        <div class="flex items-center gap-2 text-sm font-medium text-gray-600">
         {{students.student_name}}
        </div>
        {% endif %}
       </div>
       <div class="flex items-center gap-2.5">
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-body">
         <div data-datatable="true" data-datatable-page-size="10">
          <div class="scrollable-x-auto">
           <table class="table table-auto table-border" data-datatable-table="true">
            <thead>
             <tr>
              <th class="min-w-[200px]" style="position: sticky; left: 0; background-color: #fff; z-index: 1;">
               <span class="sort asc">
                <span class="sort-label">
                 Course
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Teacher
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[100px]">
               <span class="sort">
                <span class="sort-label">
                 Percent
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[100px]">
               <span class="sort">
                <span class="sort-label">
                 Grade
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <!-- <th class="w-[60px]">
              </th> -->
             </tr>
            </thead>
            <tbody>
             {% if results %}
              {% for result in results %}
             <tr>
              <td style="position: sticky; left: 0; background-color: #fff; z-index: 1;">
                 <a class="text-sm text-primary hover:text-primary-active mb-px" href="/students/gradebook_details/{{ docname }}?name={{ result.name }}">
                  {{ result.course }}
                 </a>
              </td>
              <td>
               
              </td>
              <td>
               {{ result.total_score }}
              </td>
              <td>
               
              </td>
              <!-- <td>
               <div class="flex justify-center">
                <a class="btn btn-icon" href="/students/gradebook_details/{{ docname }}?name={{ result.name }}">
                 <i class="ki-filled ki-eye text-primary"></i>
                </a>
               </div>
              </td> -->
             </tr>
               {% endfor %}
             {% else %}
             <tr>
              <td colspan="4" class="text-center">No course found.</td>
             </tr>
             {% endif %}
            </tbody>
           </table>
          </div>
          <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
           <div class="flex items-center gap-2 order-2 md:order-1">
            Show
            <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
            </select>
            per page
           </div>
           <div class="flex items-center gap-4 order-1 md:order-2">
            <span data-datatable-info="true">
            </span>
            <div class="pagination" data-datatable-pagination="true">
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}

{% block welcome_link %}
{% include "templates/includes/modal/course_plan.html" %}
{% endblock %}