{% extends "templates/layout.html" %}

{% block title %}
{{ _("Student Report Card") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
<style>

    @media screen {
    .print-format-gutter {
      background-color: #ddd;
      padding: 15px 0px;
    }
    .print-format {
      background-color: white;
      box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
      max-width: 8.3in;
      min-height: 11.69in;
      padding: 0.75in;
      margin: auto;
    }

    .print-format.landscape {
      max-width: 11.69in;
      padding: 0.2in;
    }

    .page-break {
      padding: 30px 0px;
      border-bottom: 1px dashed #888;
    }

    .page-break:first-child {
      padding-top: 0px;
    }

    .page-break:last-child {
      border-bottom: 0px;
    }

    /* mozilla hack for images in table */
    body:last-child .print-format td img {
      width: 100% !important;
    }

    @media(max-width: 767px) {
      .print-format {
        padding: 0.2in;
      }
    }
  }

  @media print {
    .print-format p {
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  .data-field {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .data-field .value {
    word-wrap: break-word;
  }

  .important .value {
    font-size: 120%;
    font-weight: bold;
  }

  .important label {
    line-height: 1.8;
    margin: 0px;
  }

  .table {
    margin: 10px 0px;
  }

  .square-image {
    width: 100%;
    height: 0;
    padding: 50% 0;
    background-size: contain;
    /*background-size: cover;*/
    background-repeat: no-repeat !important;
    background-position: center center;
    border-radius: 4px;
  }

  .print-item-image {
    object-fit: contain;
  }

  .pdf-variables,
  .pdf-variable,
  .visible-pdf {
    display: none !important;
  }

  .print-format {
    font-size: 7pt;
    font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
    -webkit-print-color-adjust:exact;
  }

  .page-break {
    page-break-after: always;
  }

  table.no-border, table.no-border td {
    border: 0px;
  }

  .print-format label {
    /* wkhtmltopdf breaks label into multiple lines when it is inline-block */
    display: block;
  }

  .print-format img {
    max-width: 100%;
  }

  .print-format table td > .primary:first-child {
    font-weight: bold;
  }

  .print-format td, .print-format th {
    vertical-align: middle !important;
    padding: 3px !important;
  }

  .print-format p {
    margin: 3px 0px 3px;
  }

  table td div {

    /* needed to avoid partial cutting of text between page break in wkhtmltopdf */
    page-break-inside: avoid !important;

  }

  /* hack for webkit specific browser */
  @media (-webkit-min-device-pixel-ratio:0) {
    thead, tfoot { display: table-row-group; }
  }

  [document-status] {
    margin-bottom: 5mm;
  }

  .signature-img {
    background: #fff;
    border-radius: 3px;
    margin-top: 5px;
    max-height: 150px;
  }

  .stuphoto-img {
    max-width: 100%;
    height: 80px;
/*    border: 2px solid #0c2c42;*/
    border-radius: 6px;
  }

  .print-heading {
    text-align: right;
    text-transform: uppercase;
    color: #666;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d1d8dd;
  }

  .print-heading h2 {
    font-size: 24px;
  }

  .print-format th {
    background-color: #a0d0db !important;
    border-bottom: 0px !important;
  }

  /* modern format: for-test */

  .pbi_avoid {
    page-break-inside: avoid !important;
  }

  .pb_before {
    page-break-before: always !important;
  }

  .pdf-header {
    display: inline-block;
  }

  .text-primary-header {
      color: #010a4f; /* or any warning color you prefer */
  }

  .text-primary-head {
      color: #043f80; /* or any warning color you prefer */
  }

  .text-primary-rep {
      color: #3532ed; /* or any warning color you prefer */
  }

  .text-secondary {
      color: #610623; /* or any warning color you prefer */
  }

    .performance-title {
      text-align: center;
    }

</style>

    <main class="grow content pt-5 {% if 'Student' in user_roles and not 'Academics User' in user_roles %}bg-gray-100{% endif %}" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
    {% if "Academics User" in user_roles or "Parent" in user_roles %}
    {% include "templates/includes/student_header.html" %}

    {% include "templates/includes/student_nav.html" %}
    {% endif %}
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Report Card
        </h1>
        {% if "Student" in user_roles %}
        <div class="flex items-center gap-2 text-sm font-medium text-gray-600">
         {{students.student_name}}
        </div>
        {% endif %}
       </div>
       <div class="flex items-center gap-2.5">
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- Container -->
     <div class="container-fixed">
      <div class="flex flex-col items-stretch gap-5 lg:gap-7.5">
       <div class="flex flex-wrap items-center gap-5 justify-between">
        <h3 class="text-md text-gray-900 font-medium">
         Generate Report Card
        </h3>
        <div class="flex items-center gap-5">
         <div class="flex items-center gap-2.5">
          {% if assessment_result %}
          <form id="myForm" method="POST" action="/api/method/edubliss.edubliss.doctype.student_report_card_tool.student_report_card_tool.preview_report_card" target="_blank">
            <input type="hidden" name="csrf_token" value="{{frappe.session.csrf_token}}">
            <input type="hidden" name="doc" value=""> <!-- Will be dynamically populated -->
            <input type="submit"  id="print-report-card" class="btn btn-sm btn-dark justify-center" value="Print Report Card">
          </form>
          {% endif %}
         </div>
        </div>
       </div>
        
        <div class="flex grow justify-center">
        </div>
      </div>
     </div>
     <!-- End of Container -->
{% if assessment_result %}
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     <div class="grid gap-5 lg:gap-7.5">
        <div class="card">
         <div class="card-body lg:py-7.5">

<table width="100%" style="margin-top: 0; margin-bottom: 0; padding: 0;">
    <tbody>
        <tr>
            <td style="width: 11%; border: 0; vertical-align: top;">
                <div align="left"><img src="/files/Super Logo New.png"></div>
            </td>
            <td style="width: 4%; border: 0;">
            </td>
            <td style="width: 70%; border: 0">
        <div class="text-center">
            <h3><b class="text-primary-header">{{ program.custom_school | upper }}</b><small><i>
            {% set u = frappe.get_doc("Company", program.custom_school) %}
            <p>{{ frappe.db.get_value("Address", u.custom_default_address, "address_line1") or "" }}, {{ frappe.db.get_value("Address", u.custom_default_address, "city") or "" }}, {{ frappe.db.get_value("Address", u.custom_default_address, "state") or "" }}</p>
            <p>Tel: {{ frappe.db.get_value("Address", u.custom_default_address, "phone") or "" }}</p>
            <p>Email: enquiries@mpischool.com | Web: www.mpischool.com</p></i></small></h3>
            {% if program.custom_school=='Maryland Prestigious PreSchool' %}
            <h5><b class="text-secondary">TERMLY OBSERVATION AND EVALUATION REPORT</b></h5>
            {% else %}
            <h5><b class="text-secondary">CONTINUOUS ASSESSMENT REPORT SHEET</b></h5>
            {% endif %}
        </div>
            </td>
            <td style="width: 15%; border: 0; vertical-align: top;">
                <div align="right"><img class="stuphoto-img" src="{{ students.image }}"></div>
            </td>
        </tr>
    </tbody>
</table>
<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #000; border-color: #007BFF;">
    <tr>
        <td><b class="text-primary-head text-sm">Name:<span class="text-primary-rep"> {{ students.student_name | upper }}</span></b></td>
        <td><b class="text-primary-head text-sm">ID:<span class="text-primary-rep"> {{ students.name }}</span></b></td>
        <td><b class="text-primary-head text-sm">Class:<span class="text-primary-rep"> {{ program.program }}</span></b></td>
    </tr>
    <tr>
        <td><b class="text-primary-head text-sm">Session:<span class="text-primary-rep"> {{ acadyear }}</span></b></td>
        <td><b class="text-primary-head text-sm">Term:<span class="text-primary-rep"> {{ term.term_name }}</span></b></td>
        <td><b class="text-primary-head text-sm">Arm:<span class="text-primary-rep"> {{ section.program_section or "" }}</span></b></td>
    </tr>
    <tr>
        <td><b class="text-primary-head text-sm">Class Teacher:<span class="text-primary-rep"> {% for instructor in instructor %}{{ instructor.instructor | upper or ""}}{% endfor %}</span></b></td>
        <td><b class="text-primary-head text-sm">Attendance:<span class="text-primary-rep"> {{ attendance.present if attendance.present else 0 }} out of {{ attendance.total }}  {{ _(" days") }}</span></b></td>
        <td><b class="text-primary-head text-sm">Date of Birth:<span class="text-primary-rep"> {{ format_date(students.date_of_birth) or "" }}</span></b></td>
    </tr>
</table>

{% if programs.department=='Early Years - MPPS' %}
<hr>
 {% if assessment_result %} 
  {% for result in assessment_result %}
   {% if get_course_subject(result.course) != 'Others' %}
    <table width="100%" style="margin-top: 0; margin-bottom: 0; padding: 0;">
     <tbody>
      <tr>
       <td style="width: 4%; border: 0; vertical-align: top !important;">{{ loop.index}}</td>
       <td style="width: 90%; border: 0">
    <table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 2px solid #043f80;">
       <tbody>
          <tr>
            <td class="left text-sm" style='width: 70%; border-right:#043f80 solid 2px;;'><b class="text-primary-head text-sm">{{ get_course_subject(result.course) | upper }}</b></th>
            <td class="left text-sm" style='width: 30%; border-right:#043f80 solid 2px;;'><b class="text-primary-head text-sm">Observation</b></th>
          </tr>
      {% for criteria in get_structure_marks(result.name, result.assessment_plan) %}
          <tr>
            <td class="left text-primary-head text-sm" style='width: 70%; border-right:#043f80 solid 2px;;border-top:#043f80 solid 2px;;border-bottom:#043f80 solid 2px;;'>{{ criteria.topics }}</td>
            <td class="left text-primary-head text-sm" style='width: 30%; border-right:#043f80 solid 2px;;border-top:#043f80 solid 2px;;border-bottom:#043f80 solid 2px;;'>{{ get_grade_comment(result.grading_scale, criteria.grade) }}</td>
        </tr>
      {% endfor %}
       </tbody>
    </table>
       </td>
       <td style="width: 6%; border: 0"></td>
      </tr>
     </tbody>
  </table>
  <div style="margin-bottom: 20px;">
    <p class="text-primary-head left text-sm"><b class="text-primary-head left">Note: </b>{{result.comment}}</p>
  </div>
   {% endif %}
  {% endfor %}
 {% endif %}  
<hr>
<table width="100%" style="margin-top: 0; margin-bottom: 5px; padding: 2; border: 0;">
    <tr>
        <td width="3%"></td>
        <td width="7%" class="text-primary-head left text-sm" style="font-size: 7pt"><b>GRADE:</b></td>
        {% for grading_scale in grading_scale_intervals %}
        <td width="15%" class="text-primary-head left text-sm" style="font-size: 7pt">{{grading_scale.grade_code}}={{grading_scale.grade_description}}</td>
        {% endfor %}
    </tr>
</table>
<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <tr>
        <td colspan="4"><b class="text-primary-head text-sm">Overall Grade:</b> {{ get_grade(grading_scale, average | round(2)) }}
          <hr style="margin-top: 5px; margin-bottom: 5px;">
        </td>
    </tr>
    <tr>
        <td colspan="2"><b class="text-primary-head text-sm">Class Teacher's Remark:</b></td>
        <td colspan="2" class="text-primary-head left text-sm">{% if comment_result_comment %}{{ comment_result_comment }}{% endif %} </td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td width="15%"><b class="text-primary-head text-sm">Class Teacher:</b></td>
        <td width="40%" class="text-primary-head left text-sm">  {% for instructor in instructor %}{{ instructor.instructor | upper or ""}}{% endfor %} ({{ section.program_section or "" }})</td>
        <td width="15%"><b class="text-primary-head text-sm">Signature:</b></td>
        <td width="30%" class="text-primary-head text-sm">{% if comment_result_comment %}<div align="left"><img src="{{ comment_result_img }}"></div>{% endif %} </td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td width="15%"><b class="text-primary-head text-sm">Head Teacher:</b></td>
        <td width="40%" class="text-primary-head left text-sm">{% if comment_result_head_comment %}{{ comment_result_head_comment }}{% endif %} </td>
        <td width="15%"><b class="text-primary-head text-sm">Signature:</b></td>
        <td width="30%" class="text-primary-head text-sm">{% if comment_result_comment %}<div align="left"><img src="{{ comment_result_head_img }}"></div>{% endif %} </td>
    </tr>
</table>
{% else %}
<p class="performance-title"><b class="text-secondary" style="font-size: 9pt">PERFORMANCE IN SUBJECTS</b></p>
<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <thead>
        <tr>
          <th class="text-center" width="3%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head text-2sm">SN</span></th>
          <th class="text-center" width="20%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head text-2sm">SUBJECTS</span></th>
      {% for criterias in assessment_criteria %}
          <th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;padding: 0;;line-height: 1;;'><span class="text-primary-head text-2sm">{{ criterias.custom_abbr }}</span></th>
      {% endfor %}
          <th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head text-2sm">Total</span></th>
          <th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;padding: 0;;line-height: 1;;'><span class="text-primary-head text-2sm">Class Avg.</span></th>
          <th class="text-center" width="5%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head text-2sm">Grade</span></th>
          <th class="text-center" width="10%" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head text-2sm">Remark</span></th>
          <th width="10%"><span class="text-primary-head text-2sm">Subject Teacher</span></th>
        </tr>
    </thead>
    <tbody>
     {% if assessment_result %} 
      {% for result in assessment_result %}
       {% if get_course_subject(result.course) != 'Others' %}
        <tr>
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ loop.index}}</td>
            <td class="left text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ get_course_subject(result.course) | upper }}</td>
      {% for criteria in get_criteria_marks(result.name) %}
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.score | round(1) }}</td>
      {% endfor %}
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ result.total_score | round(1) }}</td>
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ get_marks_avg(result.course, result.program, result.academic_term) | round(1) }}</td>
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ result.grade }}</td>
            <td class=" text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ get_grade_remark(result.grading_scale, result.total_score) }}</td>
            <td class=" text-2sm" style='border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ get_course_teacher(result.course, result.student_group, result.academic_term) }}</td>
        </tr>
       {% endif %}
      {% endfor %}
     {% else %}  
        <tr>
            <td colspan="10" class="text-center text-2sm">No result found.</td>
        </tr>
     {% endif %}  
    </tbody>
</table>

<table width="100%" style="margin-top: 0; margin-bottom: 0; padding: 2; border: 0;">
    <tr>
        <td width="30%"><p><b class="text-primary-header text-2sm">Number of Subjects Offered: {{ course_count }}</b></p></td>
        <td width="45%" class="text-center text-2sm" colspan="2"><p><b class="text-primary-header">Total Score: {{ total_score | round(1) }}</b></p></td>
        <td width="25%"><p><b class="text-primary-header text-2sm">Final Average: {{ average | round(1) }}</b></p></td>
    </tr>
    <tr>
        <td width="30%"><p><b class="text-primary-header text-2sm">Position in Arm: {{sections_position}}</b></p></td>
        <td width="20%"><p><b class="text-primary-header text-2sm">No. in Arm: {{ section_count }}</b></p></td>
        <td width="25%"><p><b class="text-primary-header text-2sm">Position in Class: {{class_position}}</b></p></td>
        <td width="25%"><p><b class="text-primary-header text-2sm">No. in Class: {{ program_count }}</b></p></td>
    </tr>
</table>

<div style="margin-top: 0px;">
<p><i><b class="text-primary-rep left text-2sm" style="font-size: 9pt">INTERPRETATION: 95-100= Outstanding, 90-94= Excellent, 85-89= Proficient, 80-84= V.Good, 75-79= Good, 70-74= Satisfactory, 0-69= Fair<hr></b></i></p>
</div>

<table width="100%" style="margin-top: 0; margin-bottom: 0; padding: 0;">
    <tbody>
        <tr>
            <td style="width: 48%; border: 0">

<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <thead>
        <tr>
            <th class="text-center text-2sm" style='border-right:#043f80 solid 1px;;'><b class="text-primary-head">AFFECTIVE ASSESSMENT</b></th>
            <th class="text-center text-2sm" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">SCORE</span></th>
            <th class="text-center text-2sm" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">GRADE</span></th>
        </tr>
    </thead>
    <tbody>
     {% if assessment_result %} 
      {% for result in assessment_result %}
       {% if result.course == 'AFFECTIVE ASSESSMENT' %}
        {% for criteria in get_structure_marks(result.name, result.assessment_plan) %}
        <tr>
            <td class=" text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.topics }}</td>
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.score }}</td>
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.grade }}</td>
        </tr>
        {% endfor %}
       {% endif %}
      {% endfor %}
     {% endif %}  
    </tbody>
</table>

            </td>
            <td style="width: 4%; border: 0">
            </td>
            <td style="width: 48%; border: 0">

<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <thead>
        <tr>
            <th class="text-center text-2sm" style='border-right:#043f80 solid 1px;;'><b class="text-primary-head">PSYCHOMOTOR ASSESSMENT</b></th>
            <th class="text-center text-2sm" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">SCORE</span></th>
            <th class="text-center text-2sm" style='border-right:#043f80 solid 1px;;'><span class="text-primary-head">GRADE</span></th>
        </tr>
    </thead>
    <tbody>
     {% if assessment_result %} 
      {% for result in assessment_result %}
       {% if result.course == 'PSYCHOMOTOR ASSESSMENT' %}
        {% for criteria in get_structure_marks(result.name, result.assessment_plan) %}
        <tr>
            <td class=" text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.topics }}</td>
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.score }}</td>
            <td class="text-center text-2sm" style='border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;'>{{ criteria.grade }}</td>
        </tr>
        {% endfor %}
       {% endif %}
      {% endfor %}
     {% endif %}  
    </tbody>
</table>
            </td>
        </tr>
    </tbody>
</table>
<div style="margin-top: 0px;">
<p><i><b class="text-primary-rep left text-2sm">INTERPRETATION: 4.5-5= EXCELLENT , 3.5-4= VERY GOOD , 2.5-3= GOOD , 1.5-2= FAIR , 0-1= POOR<hr></b></i></p>
</div>

<p class="performance-title text-2sm"><b class="text-secondary" style="font-size: 9pt">COMMENTS</b></p>
<table width="100%"  style="margin-top: 0; margin-bottom: 0; padding: 0; border: 1px solid #043f80;">
    <tr>
        <td width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-header text-2sm">CLASS TEACHER'S COMMENT</b></p></td>
        <td class=" text-2sm" width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p>{% if comment_result_comment %}{{ comment_result_comment }}{% endif %} </p></td>
    </tr>
    <tr>
        <td class=" text-2sm" width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-head">CLASS TEACHER'S NAME AND SIGNATURE</b></p></td>
        <td class=" text-2sm" width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p>{% if comment_result_comment %}<div align="left"><img src="{{ comment_result_img }}" style="width:30%;"></div>{% endif %} </p></td>
    </tr>
    <tr>
        <td class=" text-2sm" width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-header">HEAD TEACHER'S COMMENT</b></p></td>
        <td class=" text-2sm" width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p>{% if comment_result_head_comment %}{{ comment_result_head_comment }}{% endif %} </p></td>
    </tr>
    <tr>
        <td class=" text-2sm" width="25%" style="background-color: #e9eff5 !important; margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p><b class="text-primary-head">HEAD TEACHER'S NAME AND SIGNATURE</b></p></td>
        <td width="75%" style="margin-top: 30px; border-right:#043f80 solid 1px;;border-top:#043f80 solid 1px;;border-bottom:#043f80 solid 1px;;"><p>{% if comment_result_comment %}<div align="left"><img src="{{ comment_result_head_img }}" style="width:30%;"></div>{% endif %}</p></td>
    </tr>
</table>
{% endif %}

         </div>
        </div>
       <div class="flex flex-wrap items-center gap-5 justify-between">
       {% if "Academics User" in user_roles %}
         {% if comment_result_head %}
          <div class="flex items-center gap-2.5">
           <a class="btn btn-sm btn-dark btn-outline text-2sm" href="/app/student-result-comment/{{comment_result_head}}">
            Edit Head Teacher Comment
           </a>
          </div>
         {% else %}
          <div class="flex items-center gap-2.5">
           <a class="btn btn-sm btn-dark text-2sm" href="app/student-result-comment/new-student-result-comment?student={{students.name}}&student_group={{section.name}}&comment_type=HEAD TEACHER">
            Add Head Teacher Comment
           </a>
          </div>
         {% endif %}
       {% endif %}
        <div class="flex items-center gap-5">
       {% if "Academics User" in user_roles or "Instructor" in user_roles %}
         {% if comment_result %}
          <div class="flex items-center gap-2.5">
           <a class="btn btn-sm btn-dark btn-outline text-2sm" href="/app/student-result-comment/{{comment_result}}">
            Edit Class Teacher Comment
           </a>
          </div>
         {% else %}
          <div class="flex items-center gap-2.5">
           <a class="btn btn-sm btn-dark text-2sm" href="app/student-result-comment/new-student-result-comment?student={{students.name}}&student_group={{section.name}}&comment_type=CLASS TEACHER">
            Add Class Teacher Comment
           </a>
          </div>
         {% endif %}
       {% endif %}
        </div>
       </div>
     </div>
     </div>
     <!-- end: container -->
{% endif %}  
    </main>
{% endblock %}

{% block custom_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#myForm');

    form.addEventListener('submit', function(event) {

      const student = "{{ students.name }}";
      const studentName = "{{ students.student_name }}";
      const assessmentGroup = "{{ acad_terms.custom_assessment_group }}";
      const program = "{{ program.program or '' }}";
      const academicYear = "{{ acadyear }}";
      const academicTerm = "{{ acadterm }}";

      if (!student || !assessmentGroup || !program || !academicYear || !academicTerm) {
        event.preventDefault();
        alert("{{ students.student_name }} not enrolled for {{ acadterm }}.");
        return;
      }

      const docData = {
        student: student || "",
        student_name: studentName || "",
        assessment_group: assessmentGroup || "",
        program: program || "",
        academic_year: academicYear || "",
        academic_term: academicTerm || "",
      };

      // Populate the hidden doc field with the JSON string
      const docField = form.querySelector('input[name="doc"]');
      docField.value = JSON.stringify(docData);
    });
  });
</script>
{% endblock %}