{% extends "templates/layout.html" %}

{%- block title -%}{{_("Calendar")}}{%- endblock -%}

{% block custom_link %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.js"></script>
{% endblock %}

{% block body_link %}
 <body class="flex h-full demo1 header-fixed bg-[#fefefe] dark:bg-coal-500">
{% endblock %}

{% block sidebar_link %}
{% endblock %}

{% block headnav_link %}
{% endblock %}

{% block content %} 

    <main class="grow content pt-5" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed">
        <div>
         <style>
          .entry-callout-bg {
        background-image: url('/assets/edubliss/dist/media/images/2600x1600/2.png');
    }
    .dark .entry-callout-bg {
        background-image: url('/assets/edubliss/dist/media/images/2600x1600/2-dark.png');
    }
         </style>
         <div class="h-full h-full bg-info-light">
          <div class="card-body p-10 bg-[length:80%] [background-position:175%_25%] bg-no-repeat entry-callout-bg">
           <div class="flex flex-col justify-center gap-4">
            <div class="flex -space-x-2">
             <div id="clock" class="flex clock hover:z-5 relative"><b></b></div>
            </div>
            <h2 class="text-1.5xl font-semibold text-gray-900">
             Welcome to 
             <br/>
             <a class="link" href="#">
              Maryland Prestigious Intl Schools
             </a>
            </h2>
            <p class="text-sm font-medium text-gray-700 leading-5.5">
             MPIS community is a place where everyone values each other. 
             <br/>
             Our mission is to ensure success in 
             <br/>
             all areas of development.
            </p>
           </div>
          </div>
          <div class="card-footer justify-center">
           <a class="btn btn-link" href="/admission">
            Apply Now
           </a>
          </div>
         </div>
        </div>
     </div>
     <!-- end: container -->

     <!-- begin: container -->
     <div class="container-fixed">
      <div class="gap-5 pb-7.5">
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header flex-wrap gap-2">
         <h3 class="card-title font-medium text-sm">
          Calendar
         </h3>
        </div>
        <div class="card-body">
            <div id="calendar"  class="bg-gray-100 text-xs rounded-lg shadow-md" style="width: 100%; height: 600px; border: 0px solid #000;"></div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{%- endblock -%}

{% block custom_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' ],
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridDay,dayGridWeek,dayGridMonth'
            },
            defaultView: 'dayGridMonth', // Default view on page load
            editable: true,
            events: function(fetchInfo, successCallback, failureCallback) {
                fetch('/api/method/edubliss.www.calendar.get_events', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    successCallback(data.message.message);
                })
                .catch(error => {
                    console.error('Error fetching events:', error);
                    failureCallback(error);
                });
            }
        });
        calendar.render();
    });
</script>
{% endblock %}

{% block modal_link %}
{% endblock %}
