{% extends "templates/layout.html" %}

{% block title %}
{{ _("Course Assessment") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-3">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         {{docname}}
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          <a class="hover:text-primary-active mb-px" href="admin/program/sections_details?section_name={{ selected_section }}">
            <i class="ki-solid ki-arrow-left"></i>
          </a>
         </span>
         <span class="text-md text-gray-600">
          <a class="hover:text-primary-active mb-px" href="admin/program/sections_details?section_name={{ selected_section }}">
          Assessment Plan
          </a>
         </span>
        </div>
       </div>
       {% if "Academics User" in user_roles or "Instructor" in user_roles %}
        {% if selected_section %}
         {% if assessments %}
          <div class="flex items-center gap-2.5">
           <a class="btn btn-sm btn-primary btn-outline text-sm" href="/app/assessment-plan/{{assessments.name}}">
            Edit Assessment Plan
           </a>
          </div>
         {% else %}
          <div class="flex items-center gap-2.5">
           <a class="btn btn-sm btn-primary btn-outline text-sm" href="app/assessment-plan/new-assessment-plan?student_group={{selected_section}}&program={{section_name.program}}&course={{docname}}">
            Add Assessment Plan
           </a>
          </div>
         {% endif %}
        {% endif %}
       {% endif %}
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-3">
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="card card-grid min-w-full">
       <!-- begin: grid -->
       <div class="grid grid-cols-1 lg:grid-cols-1 gap-5 lg:gap-7.5">
        <!-- <div class="col-span-1">
          <div class="grid gap-5 lg:gap-7.5">
           <div class="card h-full border-0">
            <div class="card-header">
              <h3 class="card-title">Cirteria</h3>
            </div>
            <div class="card-body scrollable h-[200px] py-0 my-4 pr-4 mr-2">
             <div class="scrollable-x-auto">
              <table class="table table-auto">
               <tbody>
               {% if criterias %}
                {% for criteria in criterias %}
                <tr>
                 <td>
                  {{ criteria.assessment_criteria or ""}}
                 </td>
                 <td>
                  {{ criteria.maximum_score }}
                 </td>
                 <td>
                   <div class="text-sm font-semibold text-gray-900 hover:text-primary-active mb-px">
                   </div>
                 </td>
                </tr>
                {% endfor %}
               {% else %}
                <tr>
                 <td colspan="3" class="text-center">No criteria found.</td>
                </tr>
               {% endif %}
               </tbody>
              </table>
             </div>
            </div>
           </div>
          </div>
        </div> -->
        <div class="col-span-2">
          <div class="flex flex-col gap-5 lg:gap-7.5">
           <div class="card min-w-full border-0">
            <div class="card-header flex-wrap gap-2">
             <h3 class="card-title font-medium text-sm">
              Structure
             </h3>
            </div>
            <div class="card-body scrollable h-[350px] py-0 my-4 pr-4 mr-2">
             <div class="scrollable-x-auto">
              <table class="table table-auto">
               <thead>
                <tr>
                 <th class="min-w-[200px]">
                    Assessment Type
                 </th>
                 <th class="min-w-[250px] text-center">
                    Topic
                 </th>
                  <th class="min-w-[100px]">
                    Max Score
                 </th>
                 <th class="min-w-[150px]">
                     Assigned Date
                 </th>
                 <th class="min-w-[100px]">
                    Due Date
                 </th>
               </tr>
               </thead>
               <tbody>
               {% if structures %}
                {% for structure in structures %}
                <tr>
                 <td>
                   {{ structure.assessment_type or "" }}
                 </td>
                 <td class="min-w-[250px] text-center">
                   {{ structure.topics or "" }}
                 </td>
                 <td>
                   {{ structure.max_score or "" }}
                 </td>
                 <td>
                  {{ structure.schedule_date or ""}}
                 </td>
                 <td>
                   {{ structure.due_date or "" }}
                 </td>
                </tr>
                {% endfor %}
               {% else %}
                <tr>
                 <td colspan="6" class="text-center">No outline found.</td>
                </tr>
               {% endif %}
               </tbody>
              </table>
             </div>
            </div>
          </div>
         </div>
        </div>
       </div>
       <!-- end: grid -->
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
