{% extends "templates/layout.html" %}

{% block title %}
{{ _("Course Grade") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav3.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-3.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         {{docname}}
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          Grades
         </span>
        </div>
       </div>
       <div class="flex items-center gap-2.5">
        <div class="flex gap-4" data-tabs="true">
         <a class="btn btn-primary rounded-full btn-clear active" data-tab-toggle="true" href="#gradebook_cards">
           Gradebook Grades
         </a>
         <a class="btn btn-primary rounded-full btn-clear" data-tab-toggle="true" href="#report_cards">
           Submit Final Grades
         </a>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div id="gradebook_cards">
     <div class="container-fixed">
      <div class="card card-grid min-w-full">
       <!-- begin: grid -->
       <div class="grid grid-cols-1 lg:grid-cols-1 gap-5 lg:gap-7.5">
        <div class="col-span-2">
          <div class="flex flex-col gap-5 lg:gap-7.5">
           <div class="card min-w-full border-0">
            <div class="card-header flex-wrap gap-2 bg-success-light">
             <h3 class="card-title font-medium text-sm">
              
             </h3>
             {% if "Academics User" in user_roles or "Instructor" in user_roles %}
              {% if selected_section %}
               {% if assessments %}
                <div class="flex items-center gap-2.5">
                 <a class="btn btn-sm btn-secondary text-sm" href="/app/assessment-result-structure-tool?assessment_plan={{assessment_name}}&student_group={{selected_section}}">
                  Input Gradebook
                 </a>
                </div>
               {% else %}
                <div class="flex items-center gap-2.5">
                 <a class="btn btn-sm btn-secondary text-sm" href="app/assessment-plan/new-assessment-plan?student_group={{selected_section}}&program={{section_name.program}}&course={{docname}}">
                  Add Assessment Plan
                 </a>
                </div>
               {% endif %}
              {% endif %}
             {% endif %}
            </div>
            <div class="card-body scrollable h-[400px] py-0 my-4 pr-4 mr-2 bg-light">
             <div class="scrollable-x-auto">
              <table class="table table-auto">
               <thead>
                <tr>
                 <th class="min-w-[250px]" rowspan="2" style="position: sticky; left: 0; background-color: #fff; z-index: 1;">
                    Student
                 </th>
                 <th class="min-w-[150px]" rowspan="2">
                    Running Percentage & Grade <br>
                    Total: 100%
                 </th>
                 {% if structures %}
                 {% for structure in structures %}
                 <th class="min-w-[200px]">
                  <div>
                    <span class="text-sm font-semibold text-primary hover:text-primary-active">{{ structure.assessment_type }}</span><br>
                    <b class="text-sm font-semibold">{{ structure.topics or "Topic" }}</b><br>
                    <span class="text-xs">Due: {{ format_date(structure.due_date) or "" }}</span>
                  </div>
                 </th>
                 {% endfor %}
                 {% endif %}
                 <th class="min-w-[150px]" rowspan="2">
                     Comment
                 </th>
                </tr>
                <tr>
                 {% if structures %}
                 {% for structure in structures %}
                 <th class="min-w-[200px] text-2sm">
                    <span class="text-xs"> Weightage: {{ structure.weightage }}%</span><br>
                    Max. Score: {{ structure.max_score }}
                 </th>
                 {% endfor %}
                 {% endif %}                 
                </tr>
               </thead>
               <tbody>
               {% if students %}
                {% for student in students %}
                <tr>
                 <td class="min-w-[250px] text-left" style="position: sticky; left: 0; background-color: #fff; z-index: 1;">
                 <a class="text-sm text-primary hover:text-primary-active mb-px" href="/students/profile/{{ student.student }}">
                  {{ student.student_name }}
                 </a>
                 <td>
                  {{ get_total(student.student,assessment_name) or ""}}
                 </td>
                 </td>
                 {% for structure in get_structure_marks(student.student,assessment_name) %}
                 <td>
                  {{ structure.score }} <span class="text-xs">({{ structure.grade }})</span>
                 </td>
                 {% endfor %}
                 <td>
                  {{ get_comment(student.student,assessment_name) or ""}}
                 </td>
                </tr>
                {% endfor %}
               {% else %}
                <tr>
                 <td colspan="4" class="text-center">No student found.</td>
                </tr>
               {% endif %}
               </tbody>
              </table>
             </div>
            </div>
          </div>
         </div>
        </div>
       </div>
       <!-- end: grid -->
      </div>
     </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="hidden" id="report_cards">
     <div class="container-fixed">
      <div class="card card-grid min-w-full">
       <!-- begin: grid -->
       <div class="grid grid-cols-1 lg:grid-cols-1 gap-5 lg:gap-7.5">
        <div class="col-span-2">
          <div class="flex flex-col gap-5 lg:gap-7.5">
           <div class="card min-w-full border-0">
            <div class="card-header flex-wrap gap-2 bg-success-light">
             <h3 class="card-title font-medium text-sm">              
             </h3>
             {% if "Academics User" in user_roles %}
              {% if selected_section %}
               {% if assessments %}
                <div class="flex items-center gap-2.5">
                 <a class="btn btn-sm btn-secondary text-sm" href="/app/assessment-result-tool?assessment_plan={{assessment_name}}&student_group={{selected_section}}">
                  Submit Final Grade
                 </a>
                </div>
               {% else %}
                <div class="flex items-center gap-2.5">
                 <a class="btn btn-sm btn-secondary text-sm" href="app/assessment-plan/new-assessment-plan?student_group={{selected_section}}&program={{section_name.program}}&course={{docname}}">
                  Add Assessment Plan
                 </a>
                </div>
               {% endif %}
              {% endif %} 
             {% endif %}
            </div>
            <div class="card-body scrollable h-[400px] py-0 my-4 pr-4 mr-2">
             <div class="scrollable-x-auto">
              <table class="table table-auto">
               <thead>
                <tr>
                 <th class="min-w-[250px]">
                    Student
                 </th>
                 {% if criterias %}
                 {% for criteria in criterias %}
                 <th class="min-w-[150px]" style="position: sticky; left: 0; background-color: #fff; z-index: 1;">
                  <div class="text-sm text-primary hover:text-primary-active mb-px">
                    <b>{{ criteria.assessment_criteria }}</b><br>
                  </div>
                    ({{ criteria.maximum_score }})%
                 </th>
                 {% endfor %}
                 {% endif %}
                 <th class="min-w-[150px]">
                     Total Score<br>
                     (100%)
                 </th>
                 <th class="min-w-[150px]">
                     Comment
                 </th>
               </tr>
               </thead>
               <tbody>
               {% if students %}
                {% for student in students %}
                <tr>
                 <td class="min-w-[250px] text-left" style="position: sticky; left: 0; background-color: #fff; z-index: 1;">
                 <a class="text-sm text-primary hover:text-primary-active mb-px" href="/students/profile/{{ student.student }}">
                  {{ student.student_name }}
                 </a>
                 </td>
                 {% for structure in get_criteria_marks(student.student,assessment_name) %}
                 <td>
                  {{ structure.score }}
                 </td>
                 {% endfor %}
                 <td>
                  {{ get_total(student.student,assessment_name) or ""}}
                 </td>
                 <td>
                  {{ get_comment(student.student,assessment_name) or ""}}
                 </td>
                </tr>
                {% endfor %}
               {% else %}
                <tr>
                 <td colspan="3" class="text-center">No student found.</td>
                </tr>
               {% endif %}
               </tbody>
              </table>
             </div>
            </div>
          </div>
         </div>
        </div>
       </div>
       <!-- end: grid -->
      </div>
     </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
