{% extends "templates/layout.html" %}

{% block title %}
{{ _("Class Section") }}
{% endblock %}

{% block headnav_link %}
    {% include "templates/includes/headnav/edu_headnav2.html" %}
{% endblock %}

{% block content %}
    <main class="grow content pt-5 bg-gray-100" id="content" role="content">
     <!-- begin: container -->
     <div class="container-fixed" id="content_container">
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
       <div class="flex flex-col justify-center gap-2">
        <h1 class="text-xl font-semibold leading-none text-primary">
         Sections
        </h1>
        <div class="flex items-center flex-wrap gap-1.5 font-medium">
         <span class="text-md text-gray-600">
          All Sections:
         </span>
         <span class="text-md text-ray-800 font-semibold me-2">
          {{ section_count }}
         </span>
        </div>
       </div>
       <div class="flex items-center gap-2.5">
        <a class="btn btn-sm btn-primary" href="/app/student-group/new-instructor-">
         Add Section
        </a>
       </div>
      </div>
     </div>
     <!-- end: container -->
     <!-- begin: container -->
     <div class="container-fixed">
      <div class="grid gap-5 lg:gap-7.5">
       <div class="card card-grid min-w-full">
        <div class="card-header flex-wrap gap-2">
         <h3 class="card-title font-medium text-sm">
          <!-- Showing 10 of {{ section_count }} Sections -->
         </h3>
         <div class="flex flex-wrap gap-2 lg:gap-5">
          <div class="flex">
           <label class="input input-sm">
            <i class="ki-filled ki-magnifier">
            </i>
            <input placeholder="Search users" type="text" value="">
            </input>
           </label>
          </div>
         </div>
        </div>
        <div class="card-body">
         <div data-datatable="true" data-datatable-page-size="10">
          <div class="scrollable-x-auto">
           <table class="table table-auto table-border" data-datatable-table="true">
            <thead>
             <tr>
              <th class="w-[60px] text-center">
               <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox"/>
              </th>
              <th class="min-w-[200px]">
               <span class="sort asc">
                <span class="sort-label">
                 Section
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[150px]">
               <span class="sort">
                <span class="sort-label">
                 Program
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[80px]">
               <span class="sort">
                <span class="sort-label">
                 Status
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
<!--               <th class="min-w-[80px]">
               <span class="sort">
                <span class="sort-label">
                 Student
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th> -->
              <th class="min-w-[200px]">
               <span class="sort">
                <span class="sort-label">
                 Batch
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[200px]">
               <span class="sort">
                <span class="sort-label">
                 Academic Year
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="min-w-[300px]">
               <span class="sort asc">
                <span class="sort-label">
                 Section Teacher
                </span>
                <span class="sort-icon">
                </span>
               </span>
              </th>
              <th class="w-[60px]">
              </th>
             </tr>
            </thead>
            <tbody>
            {% for section in sections %}
             <tr>
              <td class="text-center">
               <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="1"/>
              </td>
              <td>
               <div class="flex items-center gap-2.5">
                <div class="flex flex-col">
                 <a class="text-sm text-primary hover:text-primary-active mb-px" href="admin/program/sections_details?section_name={{ section.student_group_name }}">
                  {{ section.student_group_name }}
                 </a>
                </div>
               </div>
              </td>
              <td>
               <a class="btn btn-link" href="/admin/program/program?program_name={{ section.program }}">
               {{ section.program }}
               </a>
              </td>
              <td>
               <div class="flex items-center gap-1.5">
                 <span class="badge badge-pill badge-outline {{ 'badge-success' if section.disabled == 0 else 'badge-danger' }} gap-1 items-center">
                  <span class="badge badge-dot size-1.5 {{ 'badge-success' if section.disabled == 0 else 'badge-danger' }}">
                  </span>
                    {{ 'Active' if section.disabled == 0 else 'Disabled' }}
                 </span>
               </div>
              </td>
              <td>
               {{ section.batch }}
              </td>
              <td>
               <div class="flex justify-center">
               {{ section.academic_year }}
               </div>
              </td>
              <td>
               {{ get_section_teachers(section.student_group_name) }}
              </td>
              <td>
               <div class="menu" data-menu="true">
                <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                 <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                  <i class="ki-filled ki-dots-vertical">
                  </i>
                 </button>
                 <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                  <div class="menu-item">
                   <a class="menu-link" href="admin/program/sections_details?section_name={{ section.student_group_name }}">
                    <span class="menu-icon">
                     <i class="ki-filled ki-search-list">
                     </i>
                    </span>
                    <span class="menu-title">
                     View
                    </span>
                   </a>
                  </div>
                  <div class="menu-separator">
                  </div>
                  <div class="menu-item">
                   <a class="menu-link" href="/app/student-group/{{ section.student_group_name }}">
                    <span class="menu-icon">
                     <i class="ki-filled ki-pencil">
                     </i>
                    </span>
                    <span class="menu-title">
                     Edit
                    </span>
                   </a>
                  </div>
                 </div>
                </div>
               </div>
              </td>
             </tr>
               {% endfor %}
            </tbody>
           </table>
          </div>
          <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
           <div class="flex items-center gap-2 order-2 md:order-1">
            Show
            <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
            </select>
            per page
           </div>
           <div class="flex items-center gap-4 order-1 md:order-2">
            <span data-datatable-info="true">
            </span>
            <div class="pagination" data-datatable-pagination="true">
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- end: container -->
    </main>
{% endblock %}
