      <!-- begin: container -->
      <div class="container-fixed">
      <div class="flex flex-nowrap items-center lg:items-end justify-between border-b border-b-gray-200 dark:border-b-coal-100 gap-6 mb-5 lg:mb-10">
       <div class="grid">
        <div class="scrollable-x-auto">
         <div class="menu gap-3" data-menu="true">
          <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary {% if active_parent_route == 'overview' %}here{% endif %}">
           <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="/admin/course/overview/{{docname}}" tabindex="0">
            <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
             Overview
            </span>
           </a>
          </div>
          {% if "Academics User" in user_roles %}
          <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary {% if active_parent_route == 'students' %}here{% endif %}">
           <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="/admin/course/students/{{docname}}" tabindex="0">
            <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
             Students
            </span>
           </a>
          </div>
          {% endif %}
          <!-- <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary {% if active_parent_route == 'outline' %}here{% endif %}">
           <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="/admin/course/outline/{{docname}}" tabindex="0">
            <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
             Outline
            </span>
           </a>
          </div> -->
          {% if "Academics User" in user_roles %}
          <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary {% if active_parent_route == 'assessment' or active_parent_route == 'assessment_plan' %}here{% endif %}" data-menu-item-placement="bottom-start" data-menu-item-toggle="dropdown" data-menu-item-trigger="click">
           <div class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" tabindex="0">
            <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
             Assessment
            </span>
            <span class="menu-arrow">
             <i class="ki-filled ki-down text-2xs text-gray-500 menu-item-active:text-primary menu-item-here:text-primary menu-item-show:text-primary menu-link-hover:text-primary">
             </i>
            </span>
           </div>
           <div class="menu-dropdown menu-default py-2 min-w-[200px]">
            <div class="menu-item {% if active_parent_route == 'assessment' %}active{% endif %}">
             <a class="menu-link" href="/admin/course/assessment/{{docname}}" tabindex="0">
              <span class="menu-title">
               Assessment Default
              </span>
             </a>
            </div>
            <div class="menu-item {% if active_parent_route == 'assessment_plan' %}active{% endif %}">
             <a class="menu-link" href="/admin/course/assessment_plan/{{docname}}" tabindex="0">
              <span class="menu-title">
               Assessment Plan
              </span>
             </a>
            </div>
           </div>
          </div>
          <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary {% if active_parent_route == 'grade' %}here{% endif %}">
           <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="/admin/course/gradebook/{{docname}}" tabindex="0">
            <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
             Grades
            </span>
           </a>
          </div>
          {% endif %}
          <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary {% if active_parent_route == 'schedule' %}here{% endif %}">
           <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="/admin/course/schedule/{{docname}}" tabindex="0">
            <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
             Course Schedule
            </span>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
      </div>
      <!-- end: container -->
